//======================================
//廣告佈局banner
//@version 1.0
//@author Jane 20200205
//@description 全站的廣告用圖
//@pageFor 全站有廣告的頁面佈局
//======================================


//===========[行銷利用樣式 ]============
//--- 1.[共用]共用佈局設定
//內頁面上方Banner
@import "../mixin/mixin";
@import "../mixin/commonStyle";

//全版banner,全版模糊,container清楚
.top_mainBanner-fluid {
    display: block;
    height: 475px;
    width: 100%;
    // background-image: url(../images/newHouse/headerBig-BG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    position: relative;
    div.container-fluid{
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);  
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    #topBanner-fluid.swiper-container{
        width: 100%;
        height: 100%;
    }
    .container{
        display: block;
        height: 475px;
        width:100%;
        padding: 0px;
        // background-image: url(../../images/newHouse/headerBig-BG.jpg);
        
        position: absolute;
        top: 0px;
        z-index: 9;
        left: 50%;
        transform: translateX(-600px);
        .swiper-slide{
            
            background-repeat: no-repeat;
            background-position: center center;
            background-size:cover;
            text-align: center;
            font-size: 18px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    .logo{
        background: #ffffff;
        padding: $s-spac;
        height: 70px;
        @include flexBox(row);
        @include flexAlign(center,center);
        @include box-shadow2(.6,14px);
        position: absolute;
        bottom:  15px;
        z-index: 10;
        left:2em;
        img{
            height: 50px;
            width: auto;

        }
    }
}

.top_mainBanner-fluid {
    @include md{
        
        height: 300px;
    }
    .container{
        @include ll{
            left: 50%;
            transform: translateX(-498px);
        }
        @include lg{
            left: 50%;
            transform: translateX(-384px);
        }
        
        @include md{
            left: 0;
            width: 100%;
            transform: translateX(0);
            height: 300px;
        }
        @include xs{
            // left: 50%;
            left: 0;
            width: 100%;
            height: 300px;
        }
        
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }



@include keyframe(zoom){
    from { 
        -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);}
    to{ 
        -webkit-transform: scale3d(1.05,1.05,1.05);
        transform: scale3d(1.05,1.05,1.05);
        }

    }