/* font.css */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional');
body{
    font-size: 14px;
    line-height: 1.7em !important;
    font-weight:inherit;
    color: $gray-dark;
    font-family: 'Roboto','Noto Sans TC','Open Sans', 'Helvetica Neue', sans-serif, 'LiHei Pro Medium', 'Microsoft JhengHei'
}
.price{
    font-family: 'Lato','Noto Sans TC';
    font-weight:400;
}
strong{
    font-weight:500;
}
a:link,a:hover,.btn,.btn ,.btn-link{
    text-decoration:none !important,;
}
.text-date{
    color:$gray-lighter;
}

h1,h2,h3,h4,h5{
    font-weight: initial;
}