//======================================
//footer 全站共用
//@version 1.0
//@author Jane 20200201
//@description 
//@pageFor 全站共用 頁面佈局 
//======================================
@import "../mixin/mixin";
@import "../mixin/commonStyle";

div.footer__top{
    // background-color:#f4f4f4;
    a:link {color: $gray-base;
    }
    a:visited {
        color:  $gray-dark;
    }
    a:hover {
        color:$gray-base;
    }
    a:active {
        color: $gray-base ;
    }
}
div.wrapper-fluid{
    padding:$m-spac 0 !important;
}
div.footer__bottom{
    background-color: #ececec;
    text-align: center;
    

    > div{
        @include flexBox(row);
    @include flexAlign(flex-start, center);
    }
    
    .footer__logo{
        @include backgroundImg(100%,center,no-repeat);
        background-image: url('../images/logo_footer.svg');
        display: block;
        margin-right: $m-spac;
        width: 120px;
        min-width: 120px;
        height: 60px;
        @include xs {
            display: none;
        }
    } 
    .footer__statement{
        color:#ababab ;
        font-size:0.7em;
        text-align:left ;
        // width: ;
        max-width: 670px;
        width: 100%;
        @include xs {
            line-height: 1.6em;
        }
    }
    
}


.footer__top{
    // display: flex;
    // flex-direction: $direction;
    @include flexBox(row);
    @include flexAlign(flex-start, center);
    padding:$m-spac 0 ;
    div.footer__contantUs{
        
        width: 20%;
        // margin-right: -10%;
        min-width: 270px;
        border-right:1px solid #e2e2e2;
        @include xs{
            width: 100%;
            padding: 8px;
            border-right:0px;
        }
        ul.footer__contantUs{
            li{
                font-size: 13px;
                width: 130px;
                float: left;
                &:first-child{
                    
                    width: 270px;
                    font-size: 14px;
                        color: $brand-primary ;
                    
                }
                @include xs{
                    width:auto;
                    padding-right: 1rem;
                    &:first-child{
                        width: 100%;
                    }
                    &:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10){
                        display: none;
                    }
                }
            }
        }
    }
    div.footer__quickLink{
        width: 50%;
        max-width: 510px;
        color: $gray-base ;
        // padding-left: 5%;
        margin-left: 5% ;
        @include xs{
            display: none;
        }
        @include flexBox(row);
        @include flexAlign(flex-start, space-between);
        ul.footer__quickLink{
            width: 110px;
            font-size: 13px;
            strong{font-size: 14px;}
        }
    }
    li{
        
        a:link {color: $gray-base;
        }
        a:visited {
            color:  $gray-dark;
        }
        a:hover {
            color:$gray-base;
        }
        a:active {
            color: $brand-success;
        }
    }

}
@mixin backgroundImg($size,$position,$repeat){
    background-position:  $position;
    background-repeat:$repeat ;
    background-size: $size;//修正FF無法簡寫問題
}



ul.footer__bottom__ul{
    display: inline-block;
    padding-bottom: $s-spac;
    
    &:last-child{
        padding-bottom: 0px;
    }
    // border: 1px solid #999;
    
    li{
        
        
        // float: left;
        display: inline;
        margin-right: 10px;
        &::after{
            padding-left: 5px;
            content: "    |";
        }
        a:link {color: $gray-light ;
        }
        a:visited {
            color:  $gray-light ;
        }
        a:hover {
            color: $white-base;
        }
        a:active {
            color: $brand-success;
        }
    }
    
}

@media screen and (min-width: 320px) and (max-width: 414px){
    div.footer__top,div.footer__bottom{
        .container{
        padding-left: 0px;
        padding-right: 0px;
        }
    }
}