//======================================
//header 全站共用
//@version 1.0
//@author Jane 20200201
//@description 
//@pageFor 全站共用 頁面佈局 
//======================================
@import "../mixin/mixin";
@import "../mixin/commonStyle";

.header__logo {
    @include backgroundImg(100%, center, no-repeat);
    background-image: url('../images/logo_header.svg');
    display: block;
    margin-right: $m-spac;
    width: 120px;
    min-width: 120px;
    height: 47px;
    // background-color: #444;
}

header.header-basis {
    background-color: $brand-primary;
    color: $white-base;
    .navbar.navbar-expand-lg{
        padding:6px 0px;
    }
    #navbarNav {
        justify-content: space-between;
        .right{
            display: flex;
            flex-direction: row;
        }
    }
    ul.navbar-nav{
        // max-width: 465px;
        overflow-x: scroll;
        white-space: nowrap;
        scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    position: relative;
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    &::after{
        content: '';
    display: block;
    width: 15px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0px;
    opacity: 1;
    background: radial-gradient(circle at 100%, rgba(1,1,1,0.5), rgba(1,1,1,0) 50%);
    // background-image: radial-gradient(at bottom, rgba(25,25,25,0.9) 0%, rgba(255,255,255,0) 60%);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    }
        li {
        font-size: 16px;
        font-weight: light;
        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                font-weight: 600;
            }
          }
        // &:nth-child(1),
        // &:nth-child(2),
        // &:nth-child(3),
        // &:nth-child(4)
        // {
        //     font-weight: 600;
        // }
    }
}

    nav.header__help {
        font-size: 0.85em;
        min-width: 179px;
        white-space: nowrap;
        ul>li>.nav-link {
            padding: 0.5rem 0.4rem !important;
            @include lg{
                padding: 0.5rem 0.1rem !important;
            }
        }

        
    }
    nav.nav{
        a.nav-link {
            box-sizing: border-box;
            border-top: 5px solid rgba(1, 1, 1, 0);

            &.active {
                border-top-color:$white-base;
            }

            &:link {
                color: $white-base;
            }

            &:hover {
                opacity: .9;
            }

            &:visited {
                color: $white-base;
            }

        }
    }
 
    // ul.navbar-nav{
    //     overflow: hidden;
    //     white-space: nowrap;
    //     width: calc(100%-30px);
    // }


}

nav.header__setting {
    font-size: 0.85em;
    min-width: 125px;
    white-space: nowrap;

    ul>li>.nav-link {
        padding: 0.5rem 0.2rem !important;

        &::after {
            content: "|";
            padding-left: 0.3rem;
        }
    }


}

button.header__setting {
    font-size: 12px !important;
    margin-top: 7px;
    visibility: text-top;
    padding-left: 2px;
    padding-right: 2px;
}

// nav.header__nav{
//     font-size: 16px;
//     color:  $white-base;
//     ul > li{
//         &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
//             font-weight: 500;
//         }
//     }
//     a.nav-link{
//         box-sizing: border-box;
//         border-top: 5px solid rgba(1,1,1,0);
//         &.active{
//            border-top-color: $brand-warning; 
//         }
//         &:link{
//             color:  $white-base;
//         }
//         &:hover{
//             opacity: .9;
//         }
//         &:visited {
//             color:  $white-base;
//         }

//     }
// }



.header__log {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .inner {
        display: flex;
        flex-direction: column;
    }
}


// .btn-link {
//     font-weight: $font-weight-normal;
//     color: $white-base;
//     text-decoration: $link-decoration;

//     @include hover() {
//       color: darken($white-base, 15%);
//       text-decoration: $link-hover-decoration;
//     }

//     &:focus,
//     &.focus {
//       text-decoration: $white-base;
//       box-shadow: none;
//     }

//     &:disabled,
//     &.disabled {
//       color: $gray-lighter;
//       pointer-events: none;
//     }

//     // No need for an active state here
//   }