//======================================
//佈局設定 全站共用
//@version 1.0
//@author Jane
//@description 
//@pageFor 全站共用 頁面佈局 廣告佈局
//======================================

//===========[ A 基本樣式 ]============
//--- 1.[共用]共用佈局設定
//
@import "../mixin/commonStyle";
@import "../variables";
html,body {
    height: 100%;
}
body#body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header#header {
    flex: 0 0 60px;
}
section#mainSection {
    flex: 1 0 auto;
    height:cale(100%-444) ;   
}
footer#footer {
    flex: 0 0 384px;
    @include xs{
        flex: 0 0 50px;
    }
}
body.newHouse ,body.template {
    background-color: $page-bg
}



//----1.2 主頁面佈局
//----a（灰底白頁，內容左右需有內距）
div.wrapper-inner {
    background-color: #fff;
    padding-bottom: 50px;   
}

.cancel-inner {
    margin: 0 -15px;
}

//----b 內容左右不需有內距
div.wrapper-fluid {
    padding: 50px 0px 50px 0px;
}



//文章區塊設定/
div.section-contant {
    // padding: $s-spac $m-spac $m-spac $m-spac;
    margin-bottom: $l-spac;
    margin-top: 0px;

    h4 {
        font-weight: normal !important;
        color: $black-base !important;
        font-size: 1.5700em !important;
        /* 24px */
        line-height: 1.0000em !important;
        /* 24px */
        margin-top: 2.0000em !important;
        margin-bottom: -0.5em !important;
        margin-top: 0em !important;
        margin-bottom: 0.5em !important;
    }

    p {
        font-size: 1em !important;
        /* 16px */
        line-height: 1.5000em !important;
        /* 24px */
        // margin: 0 0 1.5000em 0 !important;
        // color: $gray;
    }

    .header {
        @include flexBox(row);
        @include flexAlign(center, space-between);

    }

}


.facebook-brands {
    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: 12px;
        background-image: url('../images/icon/icon_share.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        color: #1977f3;
        ;
    }

}


.container,
    .container-sm,
    .container-md,
    .container-lg {
        @include xl{
            // width: calc(100% - 30px);
            // max-width: calc(100% - 30px);
            width: 1200px;
            max-width: 1200px;
        }
        @include ll{
            max-width: 992px;
        }
        @include lg{
            width: 768px;
            max-width: 768px;
        }
        @include md{
            width: 100%;
            max-width: 100%;
        }
        @include xs{
            width: 100%;
        }
    }

//----8.0 button

//icon+font
.linkSty1{
    @include link{color:$gray;}
    @include link-hover{color:$gray-base}
}

//----9.0 小物件
.text_Radiusbox {
    display: inline-block;
    border-radius: 10px;
    border: solid 1px $gray-light !important;
    color: $gray-light;
    border: $gray-light;
    font-size: 0.8em;
    line-height: 1.6em;
    padding: 0 8px;
}

.text_Radiusbox-white {
    color: #fff;
    // background-color: $brand-primary;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

//----10.0 小物件
.icon {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
//電話 通話
.icon_phone-W {
    @include iconBg(icon_phone-W);
    
}
//時間
.icon_clock{
    @include iconBg(icon_clock);
}
//線上對談
.icon_onlinetalk {
    @include iconBg(icon_heart-E);
    @include hover-parents{
        @include iconBg(icon_clock);
    }
    @include active-parents{
        @include iconBg(icon_heart-F);
    }
}
//線上對談 白
.icon_onlinetalk-W {
    @include iconBg(icon_onlinetalk-W);
}

//愛心 收藏
.icon_heart{
    @include iconBg(icon_heart);
    @include hover-parents{
        @include iconBg(icon_heart-B);
    }
    @include active-parents{
        @include iconBg(icon_heart-A);
    }
}

//分享
.icon_share{
    @include iconBg(icon_share);
    @include hover-parents{
        @include iconBg(icon_share-B);
    }
    @include active-parents{
        @include iconBg(icon_share-B);
    }
}

//link
.icon_link{
    @include iconBg(icon_link);
    @include hover-parents{
        opacity: .8;
    }
}

//微信
.icon_wechat{
    @include iconBg(icon_wechat);
    @include hover-parents{
        opacity: .8;
    }
}

//line
.icon_line{
    @include iconBg(icon_line);
    @include hover-parents{
        opacity: .8;
    }
}
//fb
.icon_fb{
    @include iconBg(icon_fb);
    @include hover-parents{
        opacity: .8;
    }
}