//======================================
//menu 主選單
//@version 1.3.2
//@author Jane 20180604
//@description 全站使用
//@pageFor 全站使用
//======================================
@import "../mixin/mixin";
@import "sass/variables";
.menu_contents{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    background: $brand-primary-light;
    border-top: 1px solid $brand-info;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.main_menu{
    display: table;
    width: 100%;
    height: 55px;
    ul{
        float: right;
    }
    li{
        position: relative;
        display: inline-block;
        padding: 0 1.5em;
        &:last-child{
            padding-right: 0;
        }
        &:hover{
            transition:All 0.2s ease;
            transform: scale(1.1);
            @include shadowfilter(drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7)));
        }
        a{
            font-size: 0.9em;
            color:  $brand-info;
            &:hover{
                color: $gray-lighter;
                cursor: pointer;
            }
        }
    }
}
.hot_item:after{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("https://s3-ap-northeast-1.amazonaws.com/whpics/nav_hot.svg");
}