//=====================//
//新建案
//＠version 1.0
//＠author Jane
//＠description 新建案系列頁面使用
//＠page for 新建案
//=====================//

@import "../variables";
@import "../mixin/mixin";
@import "../mixin/commonStyle";


@mixin box-shadow2($opacity:0.08, $size:3px) {
    -webkit-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);
    box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);

}


@mixin div-gradient($op:0.6) {
    background: linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
}

.mapInfo {
    margin-top: $l-spac;

    .change {
        margin-left: 50%;
        margin-bottom: $m-spac;
    }

    .left {
        padding: 0 60px;
    }

    .right {
        padding: 0 60px;
    }
}


body.xHidden {
    background-color: $page-bg;
    font-size: 16px;
    list-style: 1.5em;

    // color: $black-base;
    color: $gray-dark;
}

h1 {
    color: $black-darker !important;
    font-size: 1.5000em !important;
    /* 24px */
    line-height: 1.2000em !important;
    /* 24px */
    margin-top: 1.0000em !important;
    margin-bottom: 0.0000em !important;
}

h2 {
    font-size: 1.2500em;
    /* 20px */
    line-height: 1.2000em;
    /* 24px */
    margin-top: 1.2000em;
    margin-bottom: 0.0000em;
}

h3 {
    font-size: 1.1250em;
    /* 18px */
    line-height: 1.3333em;
    /* 24px */
    margin-top: 1.3333em;
    margin-bottom: 0.0000em;
}

.top {
    margin-top: 34px;
}

p {
    font-size: 1em;
    /* 16px */
    line-height: 1.5000em;
    /* 24px */
    margin: 0 0 1.5000em 0;
}

.newHouseDetail.container {
    background-color: $white-base;
    // border: 1px solid $gray-light;
    @include box-shadow(0.15);
}


@mixin div-gradient {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1)1%, rgba(0, 0, 0, 0)11%);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.1)1%, rgba(0, 0, 0, 0)11%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1)1%, rgba(0, 0, 0, 0)11%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.1)1%, rgba(0, 0, 0, 0)11%);
}

//vu

// 建案詳情


.detail_Item {
    ol {
        display: flex;
        flex-direction: row;
    }

    label {
        color: $gray-light;
        min-width: 70px;
        margin-right: $s-spac;
        font-weight: 400;
    }

    .title {
        font-size: 1.1250em;
        line-height: 1.3333em;
    }

    &.ul_cols-2 {
        ol {
            width: 50%;
            float: left;
            line-height: 1em;
        }
    }

    // &.ul_cols-1{}
}


//fix
.row.justify-content-center {
    justify-content: center;
}

//mainpage__top  頁面上方快選與電話
.mainpage__top {
    margin-bottom: $m-spac;

    &::after {
        content: "";
        display: block;
        line-height: .5em;
        width: 100%;
        height: .5em;
        background: linear-gradient(270deg, rgba(0, 0, 0, .04)2%, rgba(0, 0, 0, 0)100%);
        background: -moz-linear-gradient(270deg, rgba(0, 0, 0, .04)2%, rgba(0, 0, 0, 0)100%);
        background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .04)2%, rgba(0, 0, 0, 0)100%);
        background: -o-linear-gradient(270deg, rgba(0, 0, 0, .04)2%, rgba(0, 0, 0, 0)100%);

    }
}

//聯繫電話
.aside__contactPhone {
    background-color: darken($bg-color, 8%);
    line-height: 50px;
    @include flexBox(row);
    @include flexAlign(center, space-between);
    margin-right: -15px;

    div {
        padding: 0 $s-spac;
    }

    >div>span {
        &:nth-child(1) {
            font-size: 1.4em;
            color: $brand-primary;
        }

        &:nth-child(2) {
            color: $black-base;
        }

        &:nth-child(3) {
            color: $brand-primary;
        }
    }

    >div:last-child {
        display: inline-block;
        background-color: $brand-success;
        color: #fff;
    }

}



button.btn_commentWhite {

    @include box-shadow2(.2, 8px);
    padding: 10px 20px;
    padding: 5px 20px;
    min-width: 300px;
    text-align: center;
    border: 1px solid $brand-primary;
    background-color: #fff;
    border-radius: 3px;
    transition: ease-in-out 0.3s;
    transform: all;
    box-sizing: border-box;
    color: $brand-primary;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        @include box-shadow2(0, 3px);
        color: $brand-primary;
        background-color: rgba(0, 0, 0, 0.05);
        // border: 1px solid $brand-primary ;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    color: $gray-light;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: $gray-light;
}

::placeholder {
    color: $gray-light;
}

.w-1200 {
    width: 100%;
    max-width: 1200px;
}

.titlePrice {
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;


    .box {
        display: grid;


    }
}

//aside box.houseDescription 
.houseDescription {
    display: block;
    width: 100%;
    padding: $m-spac;
    border-radius: $border-radius;
    box-sizing: border-box;
    @include box-shadow(0.3);

    .price_inner {
        width: 100%;

        .price {
            font-size: 2.3rem;
            color: $brand-primary;
        }
    }

    .description {
        color: $gray;
        margin-bottom: $m-spac;
        @include flexbox(column);
    }

    label {
        line-height: 1.4em
    }

    span {
        line-height: 1.4em;
    }

    h1 {
        font-size: 1.92em ;
        margin-top: .7em ;
        margin-bottom: .7em ;
        color: $black-base;

    }

    ol {
        margin-bottom: 3px;

        &:first-child label {
            padding-top: 1em;
        }
    }


    .small {
        font-size: 0.9em;
        line-height: 1.2em;
        display: block;
        color: $gray;
    }

    .footer {
        border-top: solid 1px $gray-lighter;
    }
}
.houseDescription.pad{
    border-radius: $border-radius;
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0px;
    h1{

        margin-top: 0px !important;;
        margin-bottom: 0px !important;;
        @include xs{
        font-size: 1.5em !important;
        }
    }
    
    .inner{
        @include flexbox(column);
        @include flexAlign(end,center);
        @include xs{
            @include flexbox(column);
        }
    }
    .price_inner {
        .price {
            font-size: 2.3rem;
            color: $brand-primary;
        }
    }

    .description {
        color: $gray;
        // margin-left: $m-spac;
        margin-bottom: 0;
        @include flexbox(row);
        @include xs{
            @include flexbox(column);
            margin-left: 0;
        }
        span{
            display: contents;
            @include xs{
                display: block;
            }
        }
    }
    .footer {
        border-top: 0px;
    }
}
.houseDescription_phone {
    min-width: 310px;

    margin: 0px $m-spac 0px 0px;

    // margin: 0px $m-spac 0px 0px;

    padding: $m-spac;
    border-radius: $border-radius;
    // border: 1px solid $gray-light;
    box-sizing: border-box;

    h1 {

        margin-top: 0em !important;
        margin-bottom: 0.5em !important;
    }

    ol {
        line-height: 2.5em;
    }

    .price {
        font-size: 2em;
        color: $brand-primary;
    }

    .price2 {
        color: $brand-primary;
    }

    .small {
        font-size: 0.9em;
        line-height: 1.2em;
        display: block;
        color: $gray;
    }

}

//經紀人區塊
// .agCard {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;

//     img {
//         width: 60px;
//         height: 60px;
//     }

//     div.text {
//         margin: 5px 10px;
//     }
// }
.agCard__aside {
    padding: $m-spac;
    background-color: $gray-10;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: $m-spac 0;
    color:$black-base ;
    .icon_onlinetalk {
        color: $white-base;
    }
    p.h5,small{
        color: $brand-primary;
        display: inline-block;
    }
    .agPic {
        .img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: $white-base 1px solid;
            background-image: url('../images/newHouse/agPic.png');
            background-size: cover;
        }

        margin: 0 15px 0 5px;

    }
    @include lg{
        margin: 0px 0 $l-spac;
            @include flexBox(row);
            @include flexAlign(center,space-between);
            .group{
                @include flexBox(column);
                width: 30%;
                button{
                    
                    margin-bottom: $s-spac;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
    }
    @include md{
        display:block;
        padding: $s-spac;
        p.h5,small{
            color: $brand-primary;
            display: inline-block;
        }
        .group{
            @include flexBox(row);
            @include flexAlign(center,center);
            width: 100%;
            button{
                margin-right: $s-spac;
                margin-bottom: 0px;
                &:last-child{
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
            }
        }
        .agPic{
            float: left;
            .img{
                width: 50px;
                height: 50px;
            }
        }
        
    }

}



//主要
nav.top_breadcrumb {
    height: 40px;
}

.top_logo {
    text-align: center;
    margin-top: $s-spac;
    margin-bottom: $s-spac;
}

.top_mainBanner {
    display: block;
    height: 475px;
    width: 100%;
    background-image: url(../images/newHouse/headerBig-BG.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .top_mainBanner_list {
        padding: 5px 5px 0 5px;
        background-color: rgba(256, 256, 256, 0.4);
        position: absolute;
        bottom: 1px;
        left: 50%;
        margin-left: -400px;
        display: flex;
        flex-direction: row;
        max-width: 790px;
        @include box-shadow2(.5, 18px);

        .item {
            padding: 0 2px;
            position: relative;

            h5 {
                position: absolute;
                @include div-gradient();
                width: 100%;
                bottom: 0px;
                color: #fff;
                margin: 0px;
                line-height: 3em;
                text-align: center;
                padding-bottom: -10px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .smallImg {
            width: 800px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            >div {
                margin: 5px;
            }
        }
    }
}


// div.text_box {
//     margin: $s-spac 0;
// }
.cl-b {
    clear: both;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

//周邊區域
.mapInfo {
    margin-top: $l-spac;

    .change {
        margin-left: 50%;
        margin-bottom: $m-spac;
    }

    .left {
        padding: 0 60px;
    }

    .right {
        padding: 0 60px;
    }

}

.mapaddress {
    margin: 2em 0;
    display: block;
    border-top: solid 1px $gray-light;
    border-bottom: solid 1px $gray-light;
}

//相簿 格局圖


#buildingAlbum {
    button.btn {
        font-size: 14px;
    }

}


//房屋圖片區域
div.housePattern {
    // width: 100%;

    >div {
        width: 30%;
        margin-right: 2%;
        float: left;
        // border: 1px solid $gray-lighter;
        box-sizing: border-box;
        margin-bottom: 2em;
        @include box-shadow(0.2);

        img {
            width: 100%;
        }

        >p {
            bottom: 0px;
            display: block;
            width: 100%;
            // background-color: $brand-primary;
            line-height: 2em;
            padding: 5px 0;
            text-align: center;
            color: #fff;
        }

        &:nth-child(3n) {
            margin-left: 0px;
        }
    }
}



.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: $brand-primary;
}

.nav-pills.nav {
    margin-bottom: $m-spac;

    li>a {
        position: relative;
        display: block;
        padding: 5px 15px 5px;
    }
}

//頁面區塊錨點快選contantTab
ul#contantTab {
    @include flexbox(row);
    @include flexAlign(center, start);
    margin-top: 7px;

    a:link,
    a {
        color: $black-base;
        font-size: 1.07em;
        // font-weight: bold;
    }

    a:hover {
        color: $brand-primary;
    }

    .active {
        border-bottom: 2px solid $brand-primary;
    }
}

.justify-content-center {
    display: flex;
    flex-direction: row;
}




//地圖
ul.map_li {
    border: $gray-lighter 1px solid;

    li {
        padding: $s-spac;
        line-height: 1.5em;
        border-bottom: $gray-lighter 1px solid;
    }
}



//快速聯繫
.aside_contact {
    height: 70px;

    min-width: 310px;

    .phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >div:first-child {
            color: $brand-primary;
            font-size: 1.4em;
            font-weight: 800;
            line-height: 1em;

            span {
                color: $gray-base;
            }

        }

        a.callphone {
            &:hover div {
                transition: ease-in-out 0.3s;
                transform: all;
                background-color: $brand-primary-light;
            }

            &:checked div {
                background-color: $brand-primary-darker;
            }

            div {
                line-height: 70px;
                padding: 0px $m-spac;
                background-color: $brand-primary;
                color: $white-base;
                font-size: 1em;
                font-weight: 800;
                width: 140px !important;
            }
        }

    }
}



//日期文字
.dateTxt {
    color: $gray-light;
    font-size: 0.8750em;
    /* 14px */
    line-height: 1.7143em;
    /* 24px */
    // margin-top: 1.7143em;  margin-bottom: 0.0000em;
}



//分享按鈕
.shareIcon {
    > div:first-child {

        margin: $s-spac 0px;
        @include flexBox(row);
        @include flexAlign(center, space-around);

    }
    .card {
        margin: 0px;
        border: 0px;

    }
    .card-body ,.inner{
        margin: 0px;
        padding: 0px
    }
    .card-body > .inner{
        @include flexBox(row);
        @include flexAlign(center, space-around);

    }
    .collapse > .card{
        width: 0px;
        transition:all ease-in-out 0.3s;
                
    }
    .collapse.show > .card{
        width: auto;
    }
    .pad &{
        position: absolute;
        top: -10px;
        right: 0em;
        width: 200px;
        
        @include xs{
            position: initial;
            width: auto;
            background-color: $bg-color;
            padding: $s-spac/2;
            margin-bottom: $s-spac;
            border-radius: $border-radius;
        }
        
    }
}

.icon.comment-regular {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 24px;
    color: $gray-light;

    span {
        opacity: 0.2;
        display: inline-block;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        font-size: 12px;
        background-image: url(../images/newHouse/comment-regular.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


//---@include---//

