//======================================
//css 按鈕組
//@version 1.0
//@author Jane 20200201
//@description 按鈕樣式
//======================================
@import "../mixin/mixin";
@import "../variables";

//橘黃大按鈕
//切換步驟/分頁  按鈕（主）
.btn-sty1{
    background-color:$brand-primary;
    color: $white-base;
    padding: 2px 2rem;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    border: 0px ;
    &:hover{
        background-color:$brand-primary-darker ;
    }
}

//橘黃框 白底大按鈕
//切換步驟/分頁  按鈕（輔）
.btn__step-second{
    background-color: $white-base;
    color: $gray-base ;
    padding: 2px 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    border: 1px solid $brand-warning ;
    &:hover{
        border-color: $brand-warning-dark ;
    }
}