 <!---container section Ａ（白底區域 有內距）-->
    <div class="container  wrapper-inner">
        INDEX
        白底頁面區域，使用這個class
        
        
    </div>
    <!---/container section Ａ（白底區域 有內距）-->
    
    <!---container section B (灰底區域 沒有內距 -->
    <div class="container  wrapper-fluid">
        灰底頁面區域，使用這個class
    </div>
    <!---/container section B (灰底區域 沒有內距 -->