<!-- 房貸試算 -->
<section class="mortgageCal">
    <h4>房貸試算</h4>
    <!-- <hr> -->
    <div class="text_box">
      <div class="row">
        <!-- 數算區 -->
        <div class="col-md-8 col-sm-8 col-xs-12 mortgageCal_box">
          <form>
            <div class="form-group row">
              <label for="" class="col-md-4 col-xs-4 col-form-label">頭期款</label>
              <div class="col-md-6 col-xs-6">
                <input type="text" class="form-control" id="" placeholder="0">
              </div>
              <span class="col-md-2 col-xs-2">萬元</span>
            </div>
            <div class="form-group row">
              <label for="" class="col-md-4 col-xs-4 col-form-label">貸款金額</label>
              <div class="col-md-6 col-xs-6">
                <input type="text" class="form-control" id="" placeholder="0">
              </div>
              <span class="col-md-2 col-xs-2">萬元</span>
            </div>
            <div class="form-group row">
              <label for="" class="col-md-4 col-xs-4 col-form-label">銀行貸款利率</label>
              <div class="col-md-6 col-xs-6">
                <input type="text" class="form-control" id="" placeholder="0">
              </div>
              <span class="col-md-2 col-xs-2">%</span>
            </div>
            <div class="form-group row">
              <label for="" class="col-md-4 col-xs-4 col-form-label">銀行貸款利率</label>
              <div class="col-md-6 col-xs-6">
                <input type="text" class="form-control" id="" placeholder="0">
              </div>
              <span class="col-md-2 col-xs-2">年</span>
            </div>
          </form>

          <div class="mortgageCal_resule">
            <div>
              <span class="title">每月償還本息</span>
              <span class="price">57,564</span>
            </div>
            <div>
              <span class="title">星展銀行40年房貸優惠</span>
              <span class="price">46,421</span>
            </div>
          </div>
        </div>
        <!-- /數算區 -->
      </div>
    </div>
  </section>
  <!-- /房貸試算 -->