<!---banner-->
<div class="container-fluid"
  style="background-image:url(images/newHouse/headerBig-BG.jpg);padding-left: 0px !important;padding-right: 0px !important;">
  <div class="top_mainBanner-fluid">
    <!-- Swiper -->
  
    <div class="container ">
      <!-- Swiper --> 
      <div class="logo">
      <img src="images/newHouse/logo_constructionCompany.png" alt="">
    </div>
      <div id="topBanner-fluid" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(images/newHouse/headerBig-BG.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/newHouse/headerBig-BG-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/newHouse/headerBig-BG.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/newHouse/headerBig-BG-2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(images/newHouse/headerBig-BG.jpg)"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>

    </div>
    <div class="container-fluid"></div>
  </div>
</div>
<!---/banner-->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">首頁</a></li>
      <li class="breadcrumb-item"><a href="#">新建案</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">職人美學的挑高寓所</a></li>
    </ol>
  </nav>
</div>
<!---container section Ａ（白底區域 有內距）-->
<div class="container  wrapper-inner">

  <div class="row mainpage__top">
    <div class="col-12 col-lg-8 ">
      <!-- 頁面區塊錨點快選 -->
      <ul id="contantTab" class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">格局</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">動態</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">詳情</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">特色</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">評論</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">問答</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">房貸試算</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">周邊環境</a>
        </li>
      </ul>
      <!-- /頁面區塊錨點快選 -->
    </div>
    <div class="col-12 col-md-4 d-none d-lg-block">
      <div class="aside__contactPhone">
        <div>
          <span>0986-851-088</span>
          <span>轉</span>
          <span>21925</span>
        </div>
        <div>
          <i class="icon icon_phone-W"></i>預約通話
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <!-- section 格局圖 -->
      <!---pad 卡片--->
      <div class="houseDescription 	pad	d-lg-none section-contant">
        <h1>職人美學的挑高寓所-手機</h1>
        
        <ul class="ul_cols-1 detail_Item">
          <ol><label for="">參考單價</label>
            <div class="inner">
              <div class="price_inner">
                <span class="price">90~100</span>
                <span class="price2">萬 / 坪</span>
              </div>
              <div class="description">
                <span>總價5,000~6,000萬</span>
                <span>戶 車位280～330萬</span>
              </div>
            </div>
          </ol>
          <ol><label for="">參考地址</label><span>台北市松山區寶清街103號5~12樓 </span></ol>
          <ol><label for="">交屋時間</label><span>2019年12月30日</span></ol>
          <ol><label for="">車位配比</label><span>1:0.46</span></ol>
          <ol><label for="">格局規劃 </label><span>162坪</span></ol>
          <ol><label for="">交屋屋況 </label><span>四房(2)、 三房(2)、 兩房(2)、 兩房(2)

              <div class="cl-b"></div>
            </span></ol>
        </ul>
 <!--分享按鈕-->
         <div class="shareIcon">
          <!--沒有收藏時，則拿掉active-->
          <div>
            <a class="linkSty1 active" href="">
              <div><i class="icon icon_heart"></i>收藏</div>
            </a>
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              <div class="icon_share1"><i class="icon icon_share"></i>分享</div>
            </a>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="inner tooltiptext">
                <a class="linkSty1" href="">
                  <i class="icon icon_link"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_wechat"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_line"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_fb"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/分享按鈕-->
        <div class="footer">

        </div>
       
      </div>
      <!---/pad 卡片-->
      <!--經紀人區塊 手機-->
      <div class="row">
        <div class="agCard__aside pad col-12 d-lg-none">
          <div class="agPic">
            <div class="img"></div>
          </div>
          <div class="inner">
            <strong>您好！我是陳小春</strong>
            <strong>ＭyＧo房產顧問</strong>
            買屋疑問，為您解答
            <br>
            <p class="h5">0922-199-999</p> 轉 <small>223</small>
          </div>
          <div class="group">
            <button type="button" class="btn btn-outline-light "><i class="fas fa-phone-alt"></i> 預約通話</button>
            <button type="button" class="btn btn-primary"><i class="far fa-comments"></i> 線上諮詢</button>
          </div>

        </div>
      </div>
      <!-- /經紀人區塊 手機-->
      <div id="buildingAlbum" class="section-contant">
        <div class="header">
          <h4>格局圖</h4>
          <a href=""><i class="fas fa-angle-right"></i></a>
        </div>
        <!-- 物件相簿 -->
        @@include('../htmlComponents/buildingAlbum.html')
        <!-- /物件相簿 -->
      </div>
      <!-- /section 格局圖 -->
      <!-- section 動態 -->
      <div id="dymanic" class="section-contant">
        <div class="header">
          <h4>動態</h4>
          <a href=""><i class="fas fa-angle-right"></i></a>
        </div>
        <div class="text-date">2019-08-01</div>
        <span class="JQellipsis">
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩y最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩y最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩y最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
          2房產品剩y最後1戶［中高樓層］，即將圓滿，住戶已入住並成立管委會。
        </span>
        <a href="">查看全文</a>
      </div>
      <!-- /section 動態 -->

      <!-- section 詳情 -->
      @@include('../htmlComponents/houseDetail.html')
      <!-- /section 詳情 -->

      <!-- section 特色 -->
      <div id="features" class="section-contant">
        <div class="header">
          <h4>特色</h4>
          <a href=""><i class="fas fa-angle-right"></i></a>
        </div>
        <span class="JQellipsis2">
          大景公園 3700坪 第一排最後景觀戶
          最後倒數釋出一個指標，一種奢華、一個增值關鍵大台北置產，一捷一金、一景一稀、一指標一高價。「士林官隱」六大增值指標一手全囊括，細屬大台北精華區，除了億萬豪宅、景觀名邸堪比，幾戶能有增值指標1官邸豪宅指標，人龍匯聚隱貴藏富士林官邸與博愛特區周邊，堪稱全國兩大官邸豪宅指標區段，「官隱」周遭官(限字數)...
        </span>
        <a href="">查看全文</a>

      </div>
      <!-- /section 特色 -->
      <!-- section 評論 -->
      @@include('../htmlComponents/commentList.html')
      <!-- /section 評論 -->
      <!-- section 問答 -->
      @@include('../htmlComponents/mediaList.html')
      <!-- /section 問答 -->
      <!-- 房貸試算 -->
      @@include('../htmlComponents/mortgageCal.html')
      <!-- /房貸試算 -->

    </div>
    <div class="col-12 col-md-4 	d-none d-lg-block">
      <!---桌機 卡片--->
      <div class="houseDescription 	d-none d-lg-block">
        <h1>職人美學的挑高寓所-桌機</h1>
        <ul class="ul_cols-1 detail_Item">
          <ol><label for="">參考單價</label>
            <span>
              <div class="price_inner">
                <span class="price">90~100</span>
                <span class="price2">萬 / 坪</span>
              </div>
              <div class="description">
                <span>總價5,000~6,000萬</span>
                <span>戶 車位280～330萬</span>
              </div>
            </span>
          </ol>
          <ol><label for="">參考地址</label><span>台北市松山區寶清街103號5~12樓 </span></ol>
          <ol><label for="">交屋時間</label><span>2019年12月30日</span></ol>
          <ol><label for="">車位配比</label><span>1:0.46</span></ol>
          <ol><label for="">格局規劃 </label><span>162坪</span></ol>
          <ol><label for="">交屋屋況 </label><span>四房(2)、 三房(2)、 兩房(2)、 兩房(2)

              <div class="cl-b"></div>
            </span></ol>
        </ul>

        <div class="footer">

        </div>
        <!--分享按鈕-->
        <div class="shareIcon">
          <!--沒有收藏時，則拿掉active-->
          <div>
            <a class="linkSty1 active" href="">
              <div><i class="icon icon_heart"></i>收藏</div>
            </a>
            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              <div class="icon_share1"><i class="icon icon_share"></i>分享</div>
            </a>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="inner tooltiptext">

                <a class="linkSty1" href="">
                  <i class="icon icon_link"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_wechat"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_line"></i>
                </a>
                <a class="linkSty1" href="">
                  <i class="icon icon_fb"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---/桌機 卡片-->
      <!--經紀人區塊 桌機-->
      <div class="agCard__aside">
        <div class="agPic">
          <div class="img"></div>
        </div>

        <div class="inner">
          <strong>您好！我是陳小春</strong>
          <strong>ＭyＧo房產顧問</strong>
          買屋疑問，為您解答
          <br>
          <button type="button" class="btn btn-primary"><i class="far fa-comments"></i> 線上諮詢</button>
          <!-- <button class="btn__step-second"><i class="icon icon_onlinetalk"></i>線上諮詢</button> -->

        </div>
      </div>
      <!-- /經紀人區塊 桌機-->
    </div>
  </div>
  <!-- 開發商名稱其他建案 -->
  <div class="section-contant">
    <div class="header">
      <h4>開發商名稱其他建案</h4>
      <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    <div id="buildingPromo" class="swiper-container swiperBox">
      @@include('../htmlComponents/buildList.html')</div>
  </div>
  <!-- / 開發商名稱其他建案 END -->
  <!-- 開發商名稱其他建案 -->
  <div class="section-contant">
    <div class="header">
      <h4>同區推薦建案</h4>
      <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    <div id="buildingPromo2" class="swiper-container swiperBox">
      @@include('../htmlComponents/buildList.html')</div>
  </div>
  <!-- / 開發商名稱其他建案 END -->
  <!--  海外地產推薦 -->
  <div class="section-contant">
    <div class="header">
      <h4>海外地產推薦</h4>
      <a href=""><i class="fas fa-angle-right"></i></a>
    </div>
    <div id="buildingPromo3" class="swiper-container swiperBox">
      @@include('../htmlComponents/buildList.html')</div>
  </div>
  <!-- / 海外地產推薦 END -->

</div>


<!---/container section Ａ（白底區域 有內距）-->
<!-- @@include('../htmlComponents/buildList-three.html') -->