<div class="container  wrapper-fluid">
    <ul>
        <li>container section 1 (灰底區域 沒有內距)</li>
        <li>灰底頁面區域，使用這個class</li>
        <li>為讓各頁面可以自由給色，請在_layout.scss裡面管理，
            用「.section#layoutSection__名稱」來指定顏色。
            目前使用灰色底
        </li>
    </ul>

</div>

<div class="container  wrapper-inner">
    <ul>
        <li>container section 2（白底區域 有內距）</li>
        <li>白底頁面區域，使用這個class</li>
    </ul>
    
    
    <div class="cancel-inner" style="background-color: antiquewhite;border:1px #888 solid;">
        撐開全版這樣用.cancel-inner
    </div>
</div>