<div class="container footer__top">

    <div class="footer__contantUs">
        <ul class="footer__contantUs">
            <li><strong>聯絡我們</strong></li>
            <li><a href="">MyGo徵才</a></li>
            <li><a href="">服務條款</a></li>
            <li><a href="">物件刊登規範</a></li>
            <li><a href="">隱私權聲明</a></li>
            <li><a href="">智慧財產權聲明</a></li>
            <li><a href="">廣告刊登</a></li>
            <li><a href="">問題與意見</a></li>
            <li><a href="">合作提案</a></li>
            <li><a href="">MyGo API</a></li>
        </ul>
    </div>
    <div class="footer__quickLink">

        <ul class="footer__quickLink">
            <li><strong>熱門房市</strong></li>
            <li><a href="">台北買屋</a></li>
            <li><a href="">高雄買屋</a></li>
            <li><a href="">台中買屋</a></li>
            <li><a href="">桃園買屋</a></li>
            <li><a href="">新竹買屋</a></li>
        </ul>

        <ul class="footer__quickLink">
            <li><strong>熱門房市</strong></li>
            <li><a href="">台北買屋</a></li>
            <li><a href="">高雄買屋</a></li>
            <li><a href="">台中買屋</a></li>
            <li><a href="">桃園買屋</a></li>
            <li><a href="">新竹買屋</a></li>
        </ul>

        <ul class="footer__quickLink">
            <li><strong>熱門房市</strong></li>
            <li><a href="">台北買屋</a></li>
            <li><a href="">高雄買屋</a></li>
            <li><a href="">台中買屋</a></li>
            <li><a href="">桃園買屋</a></li>
            <li><a href="">新竹買屋</a></li>
        </ul>

        <ul class="footer__quickLink">
            <li><strong>熱門房市</strong></li>
            <li><a href="">台北買屋</a></li>
            <li><a href="">高雄買屋</a></li>
            <li><a href="">台中買屋</a></li>
            <li><a href="">桃園買屋</a></li>
            <li><a href="">新竹買屋</a></li>
        </ul>

    </div>

</div>

<div class="container-fluid footer__bottom">
    <div class="container  wrapper-fluid">
        <div class="footer__logo logo"></div>
        <div class="footer__statement">
            MyGo.com買購房地產網絡免責聲明<br />
            本平台僅提供會員租屋、售屋、店面頂讓、租售建案、國外房地產租售等資訊參考平台，並不涉入其中任何交易行為。本平台對各該房屋之產權及會員其他相關資訊亦不作任何實質或形式上之審查。就本平台裡所載一切房屋與會員的資訊、文字、照片、圖形、產權、廣告內容、或其他資料（以下簡稱『內容』），無論其為公開張貼或私下傳送，若有不實或違法情事，均為『內容』提供者之責任，本平台概不負責也不承擔任何法律責任。
            <p>
                <small>Copyright @2020 MyGo.com. All right reserved.</small> </p>
        </div>

    </div>
   
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>