<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<title>mygo</title>
<title>租屋、中古屋、預售新建案、實價登錄、土地廠房、店面辦公室、室內設計、房屋網站-MyGo房地產網絡</title>
<meta name="keywords" content="找房子、房屋出租、地產、房屋網、房市、房子、不動產、土地、" />
<meta name="description"
    content="租屋、買賣房屋，屋主房東仲介出租出售物件免費刊登，簡易操作只要5步驟，即時實價登錄查詢系統查閱各區房屋銷售價格，第一手國際不動產投資標的，APP線上直接查看房市情報，通訊快速回覆客戶，更多店面、土地、辦公室、廠辦房...等不動產資訊，都在MyGo房地產網絡。" />
<meta name="google-site-verification" content="nepgD2Qcy-C6m8NY_VRfHA4aalW2CqA_qBa-vEbkUFI" />
<meta name="msvalidate.01" content="BC0E47E928F438A3B59EB8312FB07F02" />

<link href="css/style.css" rel="stylesheet">
<script src="js/fontawesome-a076d05399.js"></script>