 <div class="container-fluid">
   <div class="container">

     <nav class="navbar navbar-expand-lg navbar-dark ">
       <!-- <a class="navbar-brand" href="#">Navbar</a> -->
       <div class="header__logo logo"></div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
        
<ul class="navbar-nav">
           <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
           <li class="nav-item">
             <a class="nav-link" href="#">中古屋</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">新建案</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">租屋</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">辦公</a>
            </li>
           <li class="nav-item">
             <a class="nav-link" href="#">廠房土地</a>
            </li>
           <li class="nav-item">
             <a class="nav-link" href="#">店面</a>
            </li>
           <li class="nav-item">
             <a class="nav-link" href="#">海外地產</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">講座</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">專家</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">社區</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">教育</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#">移居</a>
          </li>
         </ul>

         <div class="right">
           <nav class="nav header__help">
             <ul class="nav">
               <!-- <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li> -->
               <li class="nav-item">
                 <a class="nav-link" href="#">News</a>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">我要刊登</a>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">刊登Ａ</a>
                   <a class="dropdown-item" href="#">刊登Ｂ</a>
                   <a class="dropdown-item" href="#">刊登Ｖ</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">付費去</a>
                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">幫助</a>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">幫助A</a>
                   <a class="dropdown-item" href="#">幫助A</a>
                   <a class="dropdown-item" href="#">幫助A</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">幫助A</a>
                 </div>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">登入</a>
               </li>

             </ul>
           </nav>


         </div>


       </div>
     </nav>





   </div>
 </div>