/* Disabled Select */

.unselect{
    user-select: none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}

/* font settings */

$bebasNeue: "BebasNeue";

@mixin fontStyle($fontFamily, $fontSize, $color) {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}

$fontSize_default: 1em;
$fontSize_normal: 0.9em;
$fontSize_small: 0.8em;
$fontSize_mini: 0.65em;

@mixin closeBtnFakeEl {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background: #fff;
}

@mixin link{  //連結樣式
    &:link,&:visited{  
      @content;
    } 
  } 
  @mixin link-hover{ //被點擊後的樣式
    &:hover, &:focus, &:active,&.active{
      @content;
    } 
  } 

  //父層連結樣式
@mixin active-parents{
    a:active &,a.active &{
      @content;
    }
  }
   //父層連結樣式
  @mixin hover-parents{
    a:hover &,a:focus &{
      @content;
    }
  }



//icon img
@mixin iconBg($name){ 
    background-image: url('../images/icon/'+ $name +'.svg');
    background-size: cover;
}
/* iPhone X Safe Area fixing */

/* iOS 11 up */

@mixin safeArea {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

/* iOS lower than 11 */

@mixin safeAreaOld {
    padding-top: constant(safe-area-inset-top);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
}

/* mixing obj */

@mixin bgColor($bgColor) {
    background-color: $bgColor;
}

@mixin fontSize($fontSize) {
    font-size: $fontSize;
}

@mixin radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

@mixin boxSizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* easing function */

@mixin easeInOutExpo($time) {
    transition: all $time cubic-bezier(1, 0, 0, 1);
    -webkit-transition: all $time cubic-bezier(1, 0, 0, 1);
    -moz-transition: all $time cubic-bezier(1, 0, 0, 1);
    -o-transition: all $time cubic-bezier(1, 0, 0, 1);
}

@mixin easeInOutQuint($time) {
    transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
}

@mixin easeInOutBack($time) {
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@mixin easeOutBack($time){
    transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -moz-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -o-transition: all $time cubic-bezier(0.175, 0.885, 0.320, 1.275); 
}

/* Transform */

@mixin transRotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -ms-transform: rotate($deg);
}

/* filter */

@mixin blur($blur) {
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
}

/* FlexBox */

@for $i from 1 through 24 {
    .flex#{$i} {
        flex: $i;
    }
}

@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexAlign($alignItems, $justifyContent) {
    align-items: $alignItems;
    justify-content: $justifyContent;
}


/* position center */

@mixin alignCenter($position, $zIndex){
    position: $position;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: $zIndex;
}



@mixin xl {
    @media all and (min-width: 1200px) {
        @content;
    }
}
@mixin ll {
    @media all and (max-width: 1199px) {
        @content;
    }
}
@mixin lg {
    @media all and (max-width: 991px) {
        @content;
    }
}

@mixin md {
    @media all and (max-width: 768px) {
        @content;
    }
}

@mixin xs {
    @media all and (max-width: 576px) {
        @content;
    }
}
@mixin max-screen($max){
    @media screen and (max-width:$max) {
        @content;
    }
}
@mixin min-screen($min){
    @media screen and (min-width:$min) {
        @content;
    }
}
