//======================================
//mixin
//＠version 1.0
//＠author Jane
//＠description 全站mixin
//＠pageFor 全站
//======================================//
@mixin clearFloat{
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
}

//區塊陰影1
@mixin box-shadow($opacity:0.08) {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, $opacity);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, $opacity);

    // 0 1px 3px rgba(0,0,0,0.08)
}
//區塊陰影2
@mixin box-shadow2($opacity:0.08,$size:3px) {
    -webkit-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);
    box-shadow: 0px 0px $size 0px rgba(0, 0, 0, $opacity);
}
//基礎動效
@mixin transform {
    transition: ease-in-out 0.3s;
                transform: all;
}


//漸層黑遮罩
@mixin div-gradient($op:0.6){
background: linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
background: -moz-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
background: -o-linear-gradient(0deg, rgba(0, 0, 0, $op)2%, rgba(0, 0, 0, 0)100%);
}

@mixin flexbox($i:wrap){
    display: flex;
    flex-direction: $i;
}




//背景圖片使用的樣式
@mixin backgroundImg($size,$position,$repeat){
    background-position:  $position;
    background-repeat:$repeat ;
    background-size: $size;//修正FF無法簡寫問題
}

// @mixin backgroundImg($size,$position,$repeat,$imgname, $type){
//     background:url('https://s3-ap-northeast-1.amazonaws.com/whpics/' + $imgname + '.' + $type) $position $repeat;
//     background-size: $size;//修正FF無法簡寫問題
// }
//背景圖片使用的樣式（解決@2x問題）
@mixin background2xImg($size,$position,$repeat,$imgname, $type){
    background:url('https://s3-ap-northeast-1.amazonaws.com/whpics/' + $imgname + '@2x.' + $type) $position $repeat;
    background-size: $size;
}
@mixin size($width,$height){
    width: $width;
    height: $height;
}

//動畫
@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}
//帶入動畫名稱
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str}; 
    @content;     
  }

  //name | 秒數duration:5s | function:linear  | delay: 2s | count: infinite |  direction: alternate | fill-mode: $fillmode;



//Retina
@mixin retinaMedia(){
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){@content}
}



