//======================================
//mygo自訂bootstrap的覆蓋樣式
//@version 1.0
//@author Jane 20200201
//@description mygo自訂bootstrap的覆蓋樣式
//@pageFor 全站全頁
//======================================

/*覆蓋原生樣式寫在這邊*/
//mygo專用變數

@import "../variables";
@import "../mixin/mixin";

// a:hover {
//     color:$brand-primary-light !important;
//     text-decoration: underline;
// }
//覆蓋原生
button.btn-outline-secondary{
    color:$gray ;
    background-color: #fafafa;
    border: $line-color 1px solid;
    &:hover{
        color:$gray-base ;
        background-color: #fafafa;
        border:$line-color  1px solid;
    }
}

//紅底白字按鈕
button[type="button"].btn-primary:hover,button[type="button"].btn-primary:active {
    color: #fff;
    background-color:$brand-primary-darker !important;
    border-color: $brand-primary-darker !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
 .btn-outline-secondary:not(:disabled):not(.disabled).active, 
 .show > .btn-outline-secondary.dropdown-toggle{
    color: #fff;
    background-color:$brand-primary;
    border-color: $brand-primary;
}

//白底 紅框 灰字 按鈕 
button.btn-outline-light {
    color:$gray-base;
    background-color: #fff;
    border-color: $brand-primary;
    &:hover{
        border-color: $brand-primary-lighter !important;
        background-color: $brand-primary-darker !important;
        color:#fff;
    }
}
//btn 覆蓋原生
button.btn-outline-primary {
    background: no-repeat;
    border: solid 1px $brand-primary;
    color: $brand-primary;
}

.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
    // box-shadow: 0 0 1 0.2rem rgba(1,1, 1, 0.06);
    @include box-shadow2(.2,5px);
    &:hover {
        color: #212529;
        background-color: #fff;
        border-color: #e6e6e6;
        @include box-shadow2(0.0,0px);
    }
    &:focus,&:active,&:not(:disabled):not(.disabled):active{
        border-color:$line-color ;
        box-shadow: 0 0 0 0.0rem rgba(222, 222, 223, 0);
        background-color:#fff;
        background: #fff;
    }
}
//btn
.btn{
    font-size: 1em;
}
.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0rem rgba(202, 0, 2, 0.25);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus{
    box-shadow:0 0 0 0rem rgba(202, 0, 2, 0.25);
}


//input
.form-control{
    border: 0; /* 方法1 */
-webkit-appearance: none; /* 方法2 */
    background: $bg-color;
    border: $line-color 1px solid;
    font-size: 14px;
    &:focus{
    border-color:$gray ;
    box-shadow: 0 0 0 0.2rem rgba(194, 85, 64, 0.2);
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholder-color;
        opacity: 1; /* Firefox */
      }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $placeholder-color;
      }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $placeholder-color;
      }
}
.badge-primary {
    background-color: $brand-primary !important ;
}


//麵包屑導航
.breadcrumb{
    padding: 0.75rem 0rem;
    margin-bottom: 0rem;
    background: none;
    a,a:link{
        color:$gray;
    }
    a:active,a:hover ,li.active a{
        color:$gray-dark !important;
    }
}

.list-unstyled{
    margin: $s-spac 0 $s-spac $m-spac;
}
div.media-body {
    h5{
        color: $gray-base;
    }
  div.inner{
       background:$bg-color ;
       padding: $m-spac;
       margin-bottom: .2em;
   }
   ul { 
       display: block;
    li{float: left;
        margin-left: $m-spac;
    } 
    &::after{
        content: ".";
        display:block;
        height:0px; /*一、該方法中必須為需要清除浮動元素的偽物件中設定 height:0,否則該元素會比實際高出若干畫素;*/
        clear: both;
        visibility: hidden;
     
     }
   } 
   
}


ul.list-unstyled {
    margin: 0px !important;
}