@import "../variables";
@import "../mixin/mixin";
@import "../mixin/commonStyle";
//建案圖slider
//房子組//
.flexslider {
    li > div.row {
        @include flexBox(row);
        @include flexAlign(center, space-between);
        img{
            width:100%;
            height: auto;
        }
    }
    .price{
        display: block;
    }
    
    h3{
        font-size: 1.14em;
        color: $black-base;
    }
}
.flexslider{
    &.column2 .buildList{  
            width: 50% ;
            padding-left: 15px;  
    }
    &.column3  .buildList{
        width: 33%;
        padding-left: 15px;  
    }
    &.column4  .buildList{
        width: 25%;
        padding-left: 15px;  
    }
}




div.country>div.image.view {
    display: inline-block;
    // border: 1px solid #1977f3;
    @include div-gradient;
    img{
        width: 100%;
        height: auto;
    }
}
//補充建案圖上的黑色漸層
.country>.image {
    position: relative;

    &:hover {
        .div-gradient {
            opacity: 0;
        }
    }

    .div-gradient {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // @include div-gradient;
        z-index: 9;
        bottom: 0;
        opacity: .8;
        @include transform;
        background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.8) 1%, rgba(0, 0, 0, 0) 20%);
    }


}
// .flexslider > ul> li.banner > div{
//     @include flexBox(row) ;
//     display: flex !important;
//     flex-direction: row  !important;
//     > .item{
//         display: inline-block !important;
//         @include flexAlign(center,center);
//         width: 20%;
        
//     }
//     .caption{
//         background-color: #555 !important;
//     }
// }


// .buildList .caption h3 small.location{width:90px; float: left;display: inline-block;clear: inherit;margin: 0; margin-right:10px;}
// .buildList .caption h3 small.room{width:48px; float: left;display: inline-block;clear: none;margin: 0;line-height: 28px; margin-right:10px;}
// .buildList .caption h3{margin:5px 0;font-weight: 400; line-height: 24px;font-size:1.6rem;color: #101d37;}
// .buildList .caption h3 small{display: block; clear:both; margin-top:7px;}
// .buildList .caption {font-size:13px;color:#444;padding: 5px 18px;}
// .buildList .caption .title{font-size:1rem;margin-right: 5px;color: #777;}
// .buildList .caption .price{font-size:1.4rem; color:#444;}
// .buildList .caption i.fa-map-marker{ font-size:150%; margin:0 5px 0 2px; line-height: 28px;}
// .buildList .caption a.more{position: absolute;right: 0;bottom: 0;width: initial;padding: 10px;}
// .buildList .view-first img {width: 100%;}
// .buildList .caption .price {font-size: 2rem;color: #444;}
// .country{position: relative}
// .country strong{font-size:160%; display: block; margin-bottom:3px; color:#444;font-weight: 200;}

// .country > .image {
//     position: relative;
//   }
  
//   .country > .image:hover .div-gradient {
//     opacity: 0;
//   }
  
//   .country > .image .div-gradient {
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 10%;
//     background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0) 100%);
//     background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0) 100%);
//     z-index: 9;
//     bottom: 0;
//     opacity: .8;
//     -webkit-transition: ease-in-out 0.3s;
//     transition: ease-in-out 0.3s;
//     -webkit-transform: all;
//             transform: all;
//   }
// //房子組//
// div.country > div.image.view {
//     display: contents;
//     border: 1px solid #1977f3;
//     @include div-gradient;
// }
// //補充建案圖上的黑色漸層
// .country > .image{
//     position: relative;
//     &:hover{
//         .div-gradient{
//             opacity: 0;
//              }
//         }
//     .div-gradient{
//         position: absolute;
//             display: block;
//             width: 100%;
//             height: 10%;
//             @include div-gradient;
//             z-index: 9;
//             bottom: 0;
//             opacity: .8;
//             @include transform;
        
//         }

    
// } 