//=====================//
//＠version 1.0
//＠author Jane
//＠description 來源swiperBox套件
//＠page for 新建案..
//=====================//

//建案相簿
#buildingPromo.swiperBox,#buildingPromo2.swiperBox,#buildingPromo3.swiperBox{
    // height: 260px;
    
    img{
        width: 100%;
        height: auto;
    }
    .swiper-slide{
        // background-size: cover;
        text-align: left;
        display: table;
        font-size: 1em;
        height: 3px;
        border: 1px solid $line-color;

  border-collapse:collapse;
        h3{
            font-size: 1.14em;
            font-weight: 500;
            color: $black-base ;
            margin: 15px 1em .4em;
        }
        span{
            color: $gray-base;
            margin: 0px 1em 0px 1.2em !important;
            font-size: 1em !important;
            display: block;
        }
        div{
            color: $gray-base;
            margin: 0 .6em 15px .8em;
        }
    }

}

#buildingPromo3.swiperBox{
    .swiper-slide{
        span{
            margin-bottom:15px !important;
            display: block;
        }
        div{
            display: none;
        }
    }
}