//留言回覆區塊
@import "../variables";
@import "../mixin/mixin";
@import "../mixin/commonStyle";

.contantComment {
    margin-bottom: $s-spac;
    @include flexBox(column);
    @include flexAlign(center, center);

    .body {
        @include flexBox(row);
        @include flexAlign(flex-start, space-between);
        border: 1px solid $line-color;
        border-bottom: 0px;
        padding: $m-spac;
        > div {
            min-width: 70px;
            img {
                            width: 50px;
                            height: 50px;

                        }
            @include xs {
                min-width: 50px !important;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
                
            }

            
        }

        .footer {
            padding: $s-spac $m-spac;
            border: 1px solid $line-color;
            text-align: right;

        }

        .menber {
            color: $gray-base;
            font-weight: 500;
        }



        >div:last-child {
            width: 100%;
        }

        .header {
            @include flexBox(row);
            @include flexAlign(center, space-between);
        }


        p {
            margin: .2em 0px;
        }


        .icon_starGroup {
            margin-bottom: 3px;
            margin-top: 3px;

            i {
                float: left;
                line-height: 1em;
                margin-right: 2px;

                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }


    }