//=====================//
//＠version 1.0
//＠author Jane
//＠description 來源swiperBox套件
//＠page for 新建案..
//=====================//

//建案相簿
.houseAlbum.swiper-container {
    // height: 260px ;
    // width: auto;
    // min-width: 260px;
    // max-height: 370px;
    // height: 58vw;
    max-height: 260px;
    height: 260px;

    .swiper-slide {
        background-size: cover;
        position: relative;
        font-size: 1em;
        overflow: hidden;
        display: table;
        background-color: $gray-light;

        img {
            height: 100%;
            // width: 120%;
        }

        span {
            position: absolute;
            bottom: 0.5em;
            left: .6em;
            color: #fff;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0)78%, rgba(0, 0, 0, 0.3)94%);
            background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0)78%, rgba(0, 0, 0, 0.3)94%);
            background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0)78%, rgba(0, 0, 0, 0.3)94%);
            background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0)78%, rgba(0, 0, 0, 0.3)94%);
        }
    }

    @include ll {
        max-height: 220px;
        height: 220px;
    }

    @include lg {
        max-height: 240px;
        height: 240px;
    }

    @include md {
        max-height: 370px;
        height: 31vw;
    }

    @include max-screen(640px) {
        max-height: 370px;
        height: 58vw;
    }

    @include xs {
        // height: 200px;
        max-height: 370px;
        height: 58vw;
    }
}