//留言回覆區塊
@import "../variables";
@import "../mixin/mixin";
@import "../mixin/commonStyle";

#mediaList{
        margin-top:$m-spac;
        h5{
            font-size: 15px;
        }
        img {
            width: 50px !important;
            height: 50px !important;
            margin-right: 1em;
            @include xs{
                width: 30px !important;
                height: 30px !important;
            }
        }
        .media-body {
            img {
            width: 40px !important;
            height: 40px !important;
            margin-right: 1em;
            @include xs{
                width: 30px !important;
                height: 30px !important;
            }
            }
        }
        
    .footer{
        border-top:1px solid $line-color ;
        border-bottom:1px solid $line-color ;
        margin: $m-spac;
        padding: 15px;
        @include flexbox(row);
        @include flexAlign(center,center);
        button{
            white-space: nowrap;
            margin-left: 15px;
        }

    }

}