//=====================//
//＠version 1.0
//＠author Jane
//＠description //房貸試算
//＠page for //房貸試算
//=====================//

@import "../variables";
@import "../mixin/mixin";
@import "../mixin/commonStyle";

.mortgageCal {
    .inner {
        @include flexbox(row);
        @include flexAlign(center, space-between);
        
        @include xs {
            @include flexbox(column);
        }

        .form-group {
            margin-bottom: 5px;
        }

        >div:first-child {
            @include flexbox(column);
           flex-grow: 1;

            .form-group {
                @include flexbox(row);
                @include flexAlign(center, space-between);

                label {
                    width: 120px;
                }

                div {
                    flex-shrink: 1;
                }
            }
        }

        >div:nth-child(2) {
            border-right: 1px solid $brand-success;
            border-left: 1px solid $brand-success;
            height: 100%;
            padding: 50px 10px;
            text-align: center;
            margin: 0 2em;
            flex-shrink: 1;
            @include flexbox(column);
            @include flexAlign(center, space-between);

            @include xs {
                border-right: 0px;
                border-left: 0px;
                border-top: 1px solid $brand-success;
                border-bottom: 1px solid $brand-success;
                padding: 10px 10px;
                margin: $m-spac;
                width: 100%;

            }
        }

        >div:nth-child(3) {
            flex-grow: 1;
            height: 100%;
            padding: 10px 10px;
            text-align: center;
            @include xs {
                width: 100%;
            }
            > div{
                @include xs {
                    @include flexbox(row);
                    @include flexAlign(center, space-between);
                }
            }
            .form-group {
                flex-grow: 1;
                @include xs{
                    flex-grow:0;
                    flex-basis: 45%;
                }
                div {
                    font-size: 1.6em;
                    line-height: 1.8em;
                    color: $brand-primary;
                    background-color: $bg-color;
                    width: 100%;
                    @include xs{
                        
                    }
                }
            } 

            

        }

    }

    input {
        text-align: center;
    }

    h5 {
        font-size: 1em !important;
        color: $black-base;
    }

    //貸款試算
    .mortgageCal_resule {
        display: flex;
        flex-direction: column;
        // background-color: rgba(211, 70, 34, 0.06);
        border-radius: 5px;
        padding: $m-spac $m-spac $m-spac $m-spac;
        border: rgba(256, 256, 256, 0.8) 1px solid;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            border-bottom: 1px solid #c0c0c0;
            margin-bottom: $m-spac;

            &:last-child {
                border-bottom: 0px !important;
                margin-bottom: 0px !important;
            }
        }

        span.title {
            border-left: 3px solid #d34622;
            padding: 0px 10px;
        }

        span.price {
            color: $brand-primary;
            border-left: 0px;

            &::after {
                font-size: 14px;
                color: $gray;
                content: "元";
                margin-left: 10px;
                display: inline-block;
            }
        }
    }
}

//房貸試算
@media (max-width:980px) {

    section.mortgageCal .mortgageCal_box {
        .mortgageCal_resule {
            div {
                flex-direction: column;

                >span:last-child {
                    text-align: right;
                    width: 100%;
                }
            }
        }
    }


    //房貸試算
    .mortgageCal_box {

        display: flex;
        flex-direction: row;
    }

}

@media (max-width:575.98px) {
    .mortgageCal_box {
        display: flex;
        flex-direction: column;
    }

    .detail_Item.ul_cols-2 {
        ol {
            width: 100% !important;
            clear: both;
        }
    }
}