//======================================
//變數們
//@version 1.3.2
//@author Jane 20180328
//@description mixin集合管理
//@pageFor 全站
//======================================

$gray-base : #777777 !default;//bootstrap mygo3-$secondary title h1icon
$gray-darker : darken($gray-base, 10%) !default; // #141414
$gray-dark : #8f8f8f !default; // #31e1f1f
$gray :  #ababab!default; // #838384lighten($gray-base, 33.5%)mygo3-icon呈現  灰按鈕文字色
$gray-light :#cccccc!default; // #b6b6b5 lighten($gray, 20%) mygo3-icon:link可按日期link font
$gray-lighter : #dddddd!default; // #e4e4e4lighten($gray, 38%) mygo3-input提示輸入
$line-color:#dddddd  !default; // #e4e4e4lighten($gray, 38%)mygo3-line  灰按鈕按鈕框色



$brand-primary : #ca0002 !default; //主要色1 區域底色//bootstrap $primary
$brand-primary-light : lighten($brand-primary, 2%) !default; //主要色2 bootstrap
$brand-primary-lighter : lighten($brand-primary-light, 6.5%) !default;//bootstrap#ab2124
$brand-primary-darker : darken($brand-primary, 3%);//#2d0208
$brand-success : #c25540 !default;
$brand-success-light:lighten($brand-success, 20%);
$brand-success-darker : darken($brand-success, 15%) !default;//#402e13
$brand-info : #248FD1 !default;
$brand-warning : #FFB100 !default; //#ed742b
$brand-warning-dark :#F08B00; 
$brand-danger : #EB090B!default; //主要色2 局部色 第一版mygo#c20312 
$black-darker : #111;
$black-base : #333333;
$white-base : #ffffff;

$btn-primary-color : $white-base !default; //按鈕文字顏色
$btn-primary-color-darker : $gray-light;
$btn-primary-bg : $brand-primary !default; //按鈕背景顏色
$btn-primary-border : darken($btn-primary-bg, 5%) !default; //按鈕border顏色#44030f
$tableLineColor : lighten($brand-primary, 5%);//表格間隔色#71151b

//custom
$l-spac:40px;
$m-spac:20px;
$s-spac:10px;
$spec:15px;
$border-radius:5px;
$bg-color:#f4f4f4;//mygo3
$gray-10:#f8f8f8;// mygo3 灰按鈕按鈕內色
$ci_red:#aa2526;
$page-bg:$bg-color;


$placeholder-color:$gray ;


//bootstrap
// $primary:       $brand-primary !default;
// $secondary:     $brand-success !default;

//