﻿@charset "utf-8";
/* CSS Document */
@font-face {font-family: MyCustomFont; /* 同樣的 font-family */unicode-range: U+00-024F;  ç Latin, Latin1 Sup., Ext-A, Ext-B */src: local(Helvetica Neue),     /* OS X preferred */local(Helvetica),         /* Other OS */ local(Arial); /* Other OS */}
@font-face{font-family: Calibre;src: url('../../documentation/fonts/Calibre/CalibreWeb-Regular.woff');}
*{margin:0px;padding:0px}
html{-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;-moz-overflow-scrolling:touch;-o-overflow-scrolling:touch;overflow-scrolling:touch;font-size: 62.5%;}
body{ background:#fff;padding:0;font-family:MyCustomFont,"微軟正黑體",Calibre,sans-serif;margin: auto;overflow: auto!important;color: #666; font-size:initial;}
body.xHidden {overflow-x:hidden;}
@-moz-document url-prefix() {select {-moz-appearance:none;background: url("../images/down.png") no-repeat scroll 98% center transparent;background-size: 11px;padding-right: 10%;}}
p{margin: 0;}
.marg0 {margin: 0;}
.padd0 {padding: 0;}
.pad-le0 {padding-left: 0;}
.navbar-brand, .navbar-nav>li>a{font-weight:inherit;}
h1,h2,h3,h4,h5,h6,a,li,div,input,entry-content{text-shadow: none; padding:0;}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {clear: both;}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {content: " ";display: table;}
h1,h2,h3,h4,h5,h6{font-family:MyCustomFont,"微軟正黑體",Calibre,sans-serif;}
.table>tbody>tr>td, .table>tbody>tr>th,p{font-family:MyCustomFont,"微軟正黑體",Calibre,sans-serif;}
.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {font-size: 60%;}
iframe {width: 100%;border: none;}
.nav.navbar-nav>li>a {color: inherit!important;}
.dropdown-menu>li>a{color: inherit!important;}
.dropdown-menu>li>a:hover{color: #fff!important;}
.p-0 {padding: 0px !important;}
.h5, h5 {font-size: 16px;line-height: 1.5em;}
h1#logo{position:relative;float: left;margin-left: 15px;z-index: 999999;}
h1#logo i{width:auto; max-width:40px; display: inline-block;float: left;}
h1#logo strong{font-weight: 100;font-family:MyCustomFont,"微軟正黑體",Calibre,sans-serif;}
h1#logo strong{font-weight: 100;font-family:MyCustomFont,"微軟正黑體",Calibre,sans-serif;float: right;margin-left:0px;}
.img-circle.profile_img{padding:0;}
.x_title h2{font-weight:400;font-size:2rem;}
article{text-align: justify;}
.view{box-shadow:none;}
hr{margin-top: 40px;margin-bottom: 40px;border: 0; border-top: 1px solid #eee;}
input.texts,input.butn,select{ color:#333;}
select, textarea, input {color: #000;}
a.logo{display: inline-block;width: auto;max-height: 41px;float: left;width: 41px;}
a.logo img{width:auto;max-height:41px;position: absolute;top: 0;left: 0;}
.navbar-brand>img.main-icon{display: block;width:auto;max-height:41px;}
a {text-decoration: none; color: inherit;}
a:hover, a:focus{color:inherit;}
.wrapper, .container {position: relative; display: block; /* max-width: 1366px; min-width: 1024px; */  _width: expression((document.documentElement.clientWidth||document.body.clientWidth)>1200?'1200px':"96%")); margin: 0 auto; text-align: left;}
.container_1366{position: relative; display: block;max-width: 1200px; min-width: 1024px; _width: expression((document.documentElement.clientWidth||document.body.clientWidth)>1200?'1200px':"96%")); margin: 0 auto; text-align: left;}

.image.view.view-first.new::before {position: absolute;content: "New";left: 0;top: 11px;color: #fff;z-index: 999999;background: #d00; padding: 3px 15px;}
.x_panel .col-sm-4.col-xs-12,.x_panel .col-sm-6.col-xs-12.col-md-6.col-lg-4{ margin-bottom:20px;}
.disNone{ display:none;}
h1{ font-size:200%;  padding: 10px 0.5em 0 0;display:inline-block;margin-bottom: 10px;}
p.webLink{line-height: 1.4em;}
p.webLink a{ font-size:12px; color: #aaa}
h5.headTitle{ font-size:200%}
p.headTitle{font-size: 120%;color:#b32426;}
.modal-footer button.join{ width:50%; max-width: 340px;}
img.qrcode{width:72px; height:auto;}
img.qrcode.qrcode_cs{width:100px;}
.radios .radio{ display:inline;}
.radios .radio label{ margin-bottom:5px;}
div.section{padding:20px 0}
.section_20_40{padding:20px 0 40px 0}
.section_0_40{padding:0px 0 20px 0;margin-bottom: 0;}
br.rwd_1{ display:none; line-height:1.5em;}
.height10{height:10px!important}
.height60,.table>tbody>tr>td.height60{height:60px!important}
a.back{line-height:60px;}
.content-box-item{width:100%;line-height: 1em;padding: 0 0 20px 0;}
.content-box-item label{max-width: initial;width: 85px;font-weight: 400;}
.profile_details:nth-child(3n){ clear:none;}
.viewProfile{display:block;clear:both:overflow:hidden;}
.col-md-6.col-sm-6.col-xs-12 .table>tbody>tr:nth-child(1)>td, .col-md-6.col-sm-6.col-xs-12 .table>tbody>tr:nth-child(1)>th{ border-top:0;}
#topcontrol {left: inherit!important; margin-left: inherit;bottom: 70px!important;    z-index: 99999;}
.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.btn-primary.active{ background-color:#d00; border:1px solid #d00;box-shadow: none;}
/* calendar */
.clearfix {height: 20px;clear: both;overflow: hidden;display: block;}
article h4{font-size:2.2rem;margin-top:0;margin-bottom: 16px;line-height: 1.4;}
.table{margin-bottom:0;}
.table-responsive {background: #3AB0F5; padding: 10px;}
.table.StackTable{ font-size:116%;font-family:"Nimbus Sans L",sans-serif;}
.table.StackTable tbody tr:nth-child(odd){background-color:#fcfcfc;}
.table.StackTableCS{ background: #fff;padding:10px 0;}
.table.StackTableCS th,.table.StackTableCS td{ padding:15px 10px;}
.table.StackTableCS th:nth-child(3){width:20%;}
.table.StackTableCS a{display:block;width:100%;}
.table-responsive>.table.StackTable {background-color:#fff;}
.table-responsive>.table.StackTable td{ text-align:center; vertical-align:middle;}
.table.StackTable td:before{ display:none;}
    /* Hide table headers (but not display: none;, for accessibility) */
table.StackTableCS2 thead tr {position: absolute;top: -9999px;left: -9999px;}
table.StackTableCS2 tr {border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
table.StackTableCS2 tr:first-child {border-top: 0;}
table.StackTableCS2 tr:last-child {border-bottom: 0;}
table.StackTableCS2 td {border: none;border-bottom: 1px dotted #ccc;position: relative;width: 100%;}
table.StackTableCS2 > tbody > tr > td {border-top: 0;font-size: 120%;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;    line-height: 24px;font-size: 14px;color: #101d37;}
.table.StackTable.function_01.beforeHalf td.w60{width: 60px;}
.table.StackTable.function_01.beforeHalf td.w60 button{width:100%;}
ul.decimal li{ list-style:decimal; line-height: 24px; font-size: 14px; color: #101d37;}
ul.decimalSub li ul.decimal li,td ul.decimal li{ list-style:decimal!important;}
ul.decimal li ul.decimalSub li{ list-style:lower-roman;}
ul.decimal li ul.disc li{ list-style:disc;font-size: 100%;}
ol.disc li{ list-style:disc;display: list-item;font-size: 14px;}
ol.decimal li,ul.disc li{ list-style:decimal;line-height: 1.8em; font-size:14px;}
ol.decimal li div.article{padding-bottom:20px;}
ol.decimal li ul.decimalSub li{ list-style:lower-roman;}
ol.decimal li ul.disc li,ol.decimal li ol.disc li{ list-style:disc;font-size: 100%;}
ul.disc li{list-style: disc; float: left; line-height: 1.8em;font-size:100%;}
.postEDM img {width: 100%;}
.rwd_00,.rwd_0{ position:relative;  display: block}
.form-horizontal .radio{padding-top:0;line-height: initial;}
.col-xs-12.col-sm-6.rwd_00 img{  right:0; left:0;}
.social-icon .fa, .social-icon:before {transform: rotate(0);-ms-transform: rotate(0);-moz-transform: rotate(0);-webkit-transform: rotate(0);}
.social-icon {transform: rotate(0);-ms-transform: rotate(0);-moz-transform: rotate(0); -webkit-transform: rotate(0); width: 40px;height: 40px;font-size: 14px;margin: 0 5px 11px 6px; padding:0;color: #fff;}
.dark-div .btn-default, .dark-div button, .dark-div input[type=butt
on], .dark-div input[type=submit] { border: none;}
.news-social ul.social-list li a.btn-default{ border-radius:50%; border: 0; font-size:21px;}
li.facebook a.social-icon{ background-color:#3b5998;line-height:32px;;}
li.facebook a.social-icon:hover{ background-color:#4f6ead; color:#fff;}
li.twitter a.social-icon{ background-color:#41ade2;line-height:32px;;}
li.twitter a.social-icon:hover{ background-color:#5dc4f6; color:#fff;}
li.print a.social-icon{ background-color:#b32426;line-height:32px;;}
li.print a.social-icon:hover{ background-color:#d00; color:#fff;}
i.fa.fa-minus-circle {color: #e95858;}
.flex-viewport{height:auto;}
.x_content h5.sevenView{font-size:250%;}
section.slider {padding:0;}
.flexslider {padding-top: 0;padding-bottom: 0;}
.phones{ padding-bottom:20px;}
.container>.navbar-header{ padding-left:0px; box-sizing:border-box;}
pre{ border:0;}
pre.ac{ padding-left:10%; box-sizing:border-box; background-color:#222; color: #fff;}
pre.ac em, p.ac em{ font-style:normal; color:#777;}
pre.ac strong,p.ac strong{ color:#fff;}
pre.ac strong.blk,p.ac strong.blk{ color:#1b99a7;}
pre.ac em  strong.blk{ color:#aaa;}
pre.ac.disNone{ background-color:#ebfcfd;}
p.ac{ font-size:15px; text-align:justify;word-wrap: break-word;table-layout: fixed ;word-break:break-word; line-height:1.7em;}
.panel-body {padding: 0px;background:none; border-radius: 4px;}
.panel-body h4{ color:#fff;}
.StackTable.noneFirst th:first-child,.StackTable.noneFirst td:first-child{display: none;}
h2.codeName{ font-size:133%; color:#d00; margin-bottom: 0;}
.mail_heading h4 { font-size: 200%; line-height: 1.5em;color: #34A0E8;font-weight: bold;padding-top: 0px;margin-top: 10px;}
.disNone{display: none;}
.profile_details .profile_view .left p { height: 45px;word-wrap: break-word;text-overflow: ellipsis;overflow:hidden;}
.profile_details .profile_view .img-circle{ border-radius:0;}
.btn{-webkit-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; cursor: pointer; z-index: 99;  position: relative; color: #fff;  text-shadow: none; -webkit-box-shadow: none;  box-shadow: none; background-color: #b32426;  border-color: #b32426; font-size:16px;padding: 4px 16px;}
.btn:hover { color: #fff;background-color: #d00;  border-color: #d00;}
.btn.btn-primary {padding:10px 30px;}
.btn.btn-primary:hover{ color: #fff;}
.floatButton .btn.btn-primary:hover{ background-color:#d00!important; border:1px solid #d00!important; background-color: rgba(20, 129, 222, 0.6)!important;color: #d00;}
.btn.btn-primary.btn-primarySmall{padding: 5px 10px;}
.btn-group>.btn.btn-primary:first-child {padding-left: 21px;padding-right: 21px;}
.red,.table.StackTable.function_01.beforeHalf td.red,.red{color:#d00!important;}
.floatButtonOver{display: block;position: absolute;height:auto;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 100%;z-index:1;}
.floatButton{display: block;position: absolute;height:auto;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 100%;z-index: 100;overflow: hidden;}
.floatButton .btn.btn-primary{background-color: rgba(255, 255, 255, 0)!important;padding: 0;font-size: 20px;border-radius: 6px;width: 20%;line-height: 3em;margin-top: 10px;border: 1px #fff solid;}
.floatButton .btn.btn-primary:hover{ background-color:rgba(0, 0, 156, 0.6)!important!important;border: o;}
.floatButton .objectName{display: block;position: absolute;height:400px;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 100%;}
.floatButton .smallButton{display: block;position: absolute;height:10px;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 100%;}
.floatButton .btn.btn-primary:nth-child(2){margin-right: 0;margin-left: 5px;}
.floatButton hr{margin:10px 0 0 0;border-top:1px solid #d1d2d4;}
.floatButton h3{ line-height:1.2em;padding: 10px 6px;background: rgba(255, 255, 255, 0.4); margin-top: 0; line-height:1.3em;color: #545454;font-weight: 400;}
.floatButton h3 small{display: block; clear: both; overflow:hidden; margin-top:5px;color:#8c4f0f; font-size:12px;}
.selectBuildList{width:300px;}
img.brandLogo{max-width:300px; height: auto;}
.btnDownload{padding:4px 8px;margin:0;}
.buildList .caption h3 small.location{width:90px; float: left;display: inline-block;clear: inherit;margin: 0; margin-right:10px;}
.buildList .caption h3 small.room{width:48px; float: left;display: inline-block;clear: none;margin: 0;line-height: 28px; margin-right:10px;}
i.fa-file-text-o{line-height: 30px; margin-right:2px;}
.form_wizard .stepContainer {overflow: hidden;}
.x_panel_2 .x_panel{ background-color:#222; border: #555 1px solid;}
.x_panel.tile.location{ background-color:#f9f9f9;}
.panel_toolbox>li>a {padding: 5px;color: #222;font-size: 14px;}
.x_title {border-bottom: 0;padding: 0px 5px 0px; margin-bottom: 0;}
.x_panel{ margin-bottom:0;background: #fff;border: 0px;}
.x_panel_2{ border:0;background: #222;}
.x_panel_2 h3,.x_panel_2 h4,.x_panel_2 h5{ color:#fff;}
.x_panel_2 h5{ font-size:16px; font-weight:normal;}
.x_content h4 {font-size: 215%; font-weight: 500; line-height:1em;color:#222;}
.x_content h5 {font-size: 170%; line-height:1.5em; font-weight:400;padding: 10px 0;}
.x_content .x_titleLine h5{border-bottom: 1px #ddd solid;line-height: 3em; margin: 0; line-height: 1.5em;padding: 15px 0; display: flow-root;}
cite.author{font-size:14px; font-style:normal; color:#aaa;}
cite.time{font-size:14px; font-style:normal!important; right:20px!important; color:#aaa;}
.articleNews #mk-portfolio-loop-111 ul.msg_list li.message{padding: 10px!important}
article h5{line-height:1.5em;font-size: 133%;}
article h5 cite{color: #999;float: right;font-weight: 400;font-style: normal;}
p.heading{margin: 0 0 5px;}
p.heading strong{font-size: 133%;font-weight: 400; color:#125aa5;;}
h2.objectName{color:rgba(255, 255, 255, 1);font-size: 600%;line-height: 1.6em;font-weight:700;}
h2.objectName small{color:rgba(255, 255, 255, 1); display: block;clear: both; overflow: hidden;line-height: 1.6em;font-weight:300;}
.areaPart .x_titleLine h5 small{ display:block; position:relative;top:-10px;}
.page-title h3{ color:#444;font-size: 180%;}
.x_panel .panel-body h4{ color:#d00;}
.panel_toolbox>li:last-child {float: right;}
.x_panel_2 .panel_toolbox>li>a:hover {background: #222;}
.dropzone{border:0;}
.borderNone,.table>tbody>tr>td.borderNone,.table.StackTable tbody tr:nth-child(odd).borderNone{border:0; background:none;}
h5.categorie{margin-top:20px;color:#fff;}
h5.categorie em{ background-color:#d00; font-style:normal; padding:3px 5px; border-radius:3px; display:block; text-align:center; box-sizing:border-box;}
.wizard_horizontal ul.wizard_steps{padding-left:0!important;}
img.info{ width:100%; height:auto; margin:0 auto; overflow:hidden;max-width: 828px;}
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.marginTop30{margin-top:30px;}
.marginTop40{margin-top:40px;}
.marginTop60{margin-top:60px;}
iframe.map{min-height:320px;}
.panel_toolbox {float: right; min-width: 40px; position: relative;}
.cta-2-txt {line-height: 1.6em!important;font-size: 20px; padding-bottom: 10px;padding-top: 10px;}
.cta-2-txt .cta-2-txt {margin-bottom:0;}
.cta-2-txt strong{color:#b32426;font-size: 100%;font-weight: 400;}
.cta-2-txt p{margin-bottom:0;}
.navbar-nav > li > a{ margin:0;}
.table.StackTable tbody tr.spViewBG{background-color: #a8ccff;color:#fff;}
.categories{ display:inline; font-style:normal;font-size:60%; margin-left:10px;}
.btn-success { background: #b32426; border: 1px solid #b32426;}
.btn.btn-default.social-icon i::before{top:0px; position: relative;right: 4px;}
.btn.btn-success.othersBtn:hover,.btn.btn-success.othersBtn.active,.btn-primary:active:hover{background-color:rgba(20, 129, 222, 0.6)!important; border-color:rgba(20, 129, 222, 0.6)!important;}
.btn.btn-primary.active{background-color: rgba(20, 129, 222, 0.6)!important; border-color:rgba(20, 129, 222, 0.6)!important;}
cite.screen-reader-text{ line-height:2.5em; font-size:16px; font-weight:bold; color:#d00; font-style:normal;}
.btn.btn-search{line-height: 32px;padding: 0 20px; margin:0;}
time.entry-date{color:#FE824C; float:right;font-size:125%;}
.view-mail p {  font-size: 133%;  line-height: 1.8em; text-align: justify;}
.info-number .badge {font-size: 10px;font-weight: normal;line-height: 13px;padding: 2px 6px;position: absolute;right: -3px;top: 0;bottom: 0;margin: auto;height: 20px;width: 20px;}
article.newsContent p strong{font-size:2rem}
.view-mail p.text-center{ text-align:center!important;}
.form-control{box-shadow: inset 0 0px 0px rgba(0,0,0,.075);}
.navbar-default .navbar-nav > li > a{font-weight:normal;}
a.fancybox.postEDM{ width: 100%; display: block; text-align: center;overflow: hidden;}
.fancybox.postEDM img.heightLimit200{ width:auto; height:200px;}
.registerCalendar .form-control{width: calc(100% - 115px);}
.registerCalendar  .form-control-feedback.left { left: 115px;top: -2px;}
.registerCalendar  .has-feedback .form-control{ padding-right:10px}
h5.newsTitle{margin-top: 30px; font-size:160%;line-height: 1.4em;}
.graySub{width:100%; background-color:#eee;position: relative;display: block; height: auto;}
.graySub .seven-cols{max-width: 1200px; min-width: 1024px;_width: expression((document.documentElement.clientWidth||document.body.clientWidth)>1200?'1200px':"96%"));margin: 0 auto;}
.graySub .seven-cols.navbar-nav{float: none;padding-left: 0;}
.graySub .seven-cols.navbar-nav>li>a{color:inherit!important;}
.graySub .seven-cols.navbar-nav .active a{color:inherit!important;}
.graySub .seven-cols .col-md-1 a,.graySub .seven-cols .col-md-55 a,.graySub .seven-cols .col-sm-3.col-xs-6 a{display: block; padding: 4px 0;color:#444;font-size: 14px;}
.graySub .seven-cols .col-md-1 a:hover,.graySub .seven-cols .col-md-55 a:hover{color:#b32426}
.graySub .seven-cols .col-md-1.active,.graySub .seven-cols .col-md-55.active,.graySub .seven-cols .col-sm-3.col-xs-6.active{border-bottom:3px solid #b32426;background-color: #fff;}
.graySub .seven-cols .col-md-1,.graySub .seven-cols .col-sm-3.col-xs-6{border-bottom:3px solid #eee;}
.graySub .seven-cols .col-md-55{border-bottom:3px solid #eee; margin-bottom:0;}
.graySub .seven-cols .col-md-55 a{padding:2px 0;}
.graySub.fix{position:relative;right: 0;left: 0; z-index: 1026;}
.graySubCS{background-color:#222;}
.graySubCS a{color:#fff;}
ul.bunderdetail{ padding-left: 0;}
ul.bunderdetail li {background: #ddd;line-height: 1;padding: 6px;display: inline-block;margin-right: 4px; margin-bottom: 8px;font-size: 1.3rem!important;}
td.subBar{background:#666; color:#fff;}
.brandLogo{width: 100%;height: 180px; position: relative;}
.brandLogo img{width: 148px;height: 160px; position: absolute; top: 0; bottom: 0; right:0; left:0; margin: auto; background: #b23426;padding: 10px;border-radius: 10px;}
/*c-quick-links*/
.c-quick-links {position: absolute;right: 0px; width: 120px; height: 40px;margin: auto;top: 0; bottom: 0;z-index: 99999999;}
.c-quick-links__box {position: fixed;z-index: 999;list-style-type: none; text-align: center;right: 7px;}
.c-quick-links__box .c-quick-links__link {position: relative;display: block;margin-top: 10px}
.c-quick-links__wrapper{margin-bottom: 20px;background:none;border-radius: 50%;width: 40px;height: 40px;padding: 0px; border:none;}
.c-quick-links__wrapper img.contact{width: 40px; height: 40px; border-radius: 50%;}
.c-quick-links__wrapper p{line-height:1em;font-size:12px;}
/*c-quick-links End*/
ol.decimal.decimalQA{margin-bottom:40px; padding-left: 100px;}
ol.decimal.decimalQA li{list-style:none;}
ol.decimal.decimalQA li:before{content: "Q";display: inline-block;position: absolute;left: 0;top: -13px; font-size: 66px; font-family: Calibre,sans-serif;color: #d2cfb9!important;}
ol.decimal.decimalQA01 li:before{content: "Q1";}
ol.decimal.decimalQA02 li:before{content: "Q2";}
ol.decimal.decimalQA03 li:before{content: "Q3";}
ol.decimal.decimalQA04 li:before{content: "Q4";}
ol.decimal.decimalQA05 li:before{content: "Q5";}
ol.decimal.decimalQA li .answerA ol li:before,ol.decimal.decimalQA li ol.decimal li:before {content:"";display:none;}
ol.decimal.decimalQA li ul.decimalSub li,ol.decimalSub li{ list-style:lower-roman; font-size:100%;line-height: 2.5em;}
ol.decimal.decimalQA li ul.disc li,ol.cjk-ideographic li ol.decimal li ol.disc li{ list-style:disc; font-size:100%;}
ol.decimal.decimalQA li ul.decimalSub li::before,ol.decimal.decimalQA li ul.disc li::before{ display:none;}
ol.decimalQA,ul.decimalQA{ margin-left:6px!important;position: relative;}
ol.decimalQA strong{font-size:150%;}
#founder ol.disc li{font-size:14px; line-height:2em}
.dom{text-align: center;position: relative; height:400px;}
.domAlign{display: block; position: absolute; width:inherit; height:330px;margin: auto; top: 0; bottom: 0;right: -215px; left: 0;}
.domAlign.domAlign_cs{right:0; left:-215px;width: 400px;}
.domAlign2{position: absolute;margin: auto; top: 0; bottom: 0;right: 0; left: -215px;}
.domAlign2.domAlign2_cs{right: -215px; left:0px;position: relative;}
.dom.teacher,.domAlign.teacher{height:256px;}
img.mobile{width:200px;}
img.mobile.mobileA{position: absolute;width: 133px;left: -25px;}
img.mobile.mobileB{    position: absolute;left: 77px;top: 25px; width: 133px;}
img.app{width:150px;}
.shortAlign{width:600px; margin: auto; right: 0; left: 0;}
.treeImgPart img{width:66.67%;}
.appInfo{width: 212px;position: absolute;right: 0;left: 0;margin: auto;}
.contactOut{position: relative;height:440px;margin: 80px 0;}
.contactIn{width:300px; position: absolute;margin: auto;right: 0;left: 0;text-align: center;}
.contactIn hr{margin-top:20px; margin-bottom:20px;}
.logoContactUs{width:266px; margin-bottom:10px;}
#brand ol label{width:100px;}
img.serviceChart{width:440px;}
img.stepChart{width:800px;}
a.back .fa.fa-angle-left{font-size: 172%;bottom: -3px;position: relative;}
.paddingTop1rem{padding-top:1rem}
.padding2rem0{padding:2rem 0}
.rightSearch{margin: 1.33rem 0;}
.rightSearch .btn.btn-search{line-height:27px;padding: 0 20px; margin:0;}
.graySubCS a.back:nth-child(2) {margin-left:20px;}
span.phone{font-size: 120%;}
img.agent{width: 20px;height: 20px;border-radius: 50%; margin: 0 2px;}
.searches .col-md-55.col-xs-6,.searches .col-md-55.col-xs-12,.searches .col-md-2.col-xs-4,.searches .col-md-3.col-xs-4,.searches .col-md-3.col-xs-8{margin-bottom:0;}
.searches .col-md-3.col-xs-4 .rightSearch,.searches .col-md-3.col-xs-8 .rightSearch{margin:1rem 0;}
.row.searches{margin:0;}
.searches .input-group select.form-control{border-radius:4px;}
.content-box-item > label, .content-box-item > span { display: inline-block;}
span cite{ font-style: normal;}
.top_nav h1{ font-size:200%;  padding: 10px 0.5em 0 0;display:inline-block;margin-bottom: 10px;}
.top_nav p.webLink{ padding-left:10px;line-height: 1.4em; font-size:13px;}
.navbar-nav.house .active a { background: none !important;color: #222 !important;outline: none;}
.navbar-nav.house > li{width: 8.3%;margin-right: 4.2%;text-align:left;font-size: 1.2rem;text-align: center;}
.navbar-nav.house > li > a{ color:#000 !important; padding:0;}
.navbar-nav.house .active a::after{display: block; content: "";border-bottom:3px solid #b32426}
.buildList .caption h3{margin:5px 0;font-weight: 400; line-height: 24px;font-size:1.6rem;color: #101d37;}
.buildList .caption h3 small{display: block; clear:both; margin-top:7px;}
.buildList .caption {font-size:13px;color:#444;padding: 5px 18px;}
.buildList .caption .title{font-size:1rem;margin-right: 5px;color: #777;}
.buildList .caption .price{font-size:1.4rem; color:#444;}
.buildList .caption i.fa-map-marker{ font-size:150%; margin:0 5px 0 2px; line-height: 28px;}
.buildList .caption a.more{position: absolute;right: 0;bottom: 0;width: initial;padding: 10px;}
.buildList .view-first img {width: 100%;}
.country{position: relative}
.country strong{font-size:160%; display: block; margin-bottom:3px; color:#444;font-weight: 200;}
.padLeft0{padding-left: 0}
section p{line-height: 24px;font-size: 14px;color: #101d37;}
section hr{border-top: 1px solid #eee;margin-top:20px; margin-bottom: 20px;}
.overview .content .price {position: relative;height: 49px}
.overview .content .price .col-xs-6.domLeft{ line-height:30px;}
.overview .content .price .col-xs-6.domLeft span.carNotice{    line-height: 9px;font-size: 12px;color: #9399a5; white-space: nowrap;display: block;position: absolute;top: 36px;}


.introContent {
	text-align: justify
}

.introContent .content {
	width: initial;
	float: left
}

.introContent.introContent_cs .content {
	width: initial;
	float: left
}

.introContent .content ul {
	font-size: 0
}

.price .introContent .content ul li{display:block;}
.introContent .content ul li {display: inline-block;width: 50%;line-height: 24px;font-size: 14px;color: #101d37;white-space: nowrap}
.houseInfo.introContent .content ul li span:last-child{padding-left: 6px;}
.houseInfo.introContent{position: relative; height:49px}
.introContent.introContent_cs .content ul li {
	width: 100%;
}

.introContent .content ul li .label {
	color: #9399a5;
	margin-right: 30px
}

.introContent .base {
	display: inline-block;
	width: initial;
	vertical-align: top;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	line-height: 22px;
	padding: 20px 0
}

.introContent.introContent_cs .base {
	width: initial;
}

.introContent .name {
	float: left;
	width: 188px;
	text-align: left;
	color: #9399a5;
	line-height: 23px
}

.introContent .transaction {
	display: inline-block;
	width: initial;
	vertical-align: top;
	line-height: 22px;
	padding-top: 20px
}

.introContent .tags {
	width: initial;
	padding: 20px 0;
	border-top: 1px solid #eee
}

.introContent .tags .tag {
	display: inline-block;
	padding: 5px 9px;
	background: #f4f7f9!important;
	color: #849aae!important;
	margin-right: 3px
}

.introContent .tags .taxfree {
	background: #ffece8;
	color: #ff8062
}

.introContent .tags .five {
	background: #e1f5f8;
	color: #39becd
}

.introContent .tags .is_see_free {
	background: #e1f5ed;
	color: #33be85
}

.introContent .tags .is_restriction {
	background: #f3f0ff;
	color: #b199ff
}

.introContent .tags .focus {
	color: #dcb02e;
	background: #faf3e0
}

.introContent .around,
.introContent .baseattribute {
	width: initial;
	padding: 20px 0
}

.introContent .around .content,
.introContent .baseattribute .content {
	line-height: 25px
}

.introContent .baseattribute {
	border-top: 1px solid #eee
}

.introContent .viewmore {
	display: none;
	height: 44px;
	width: initial;
	background-color: #f5f5f6;
	line-height: 44px;
	color: #9399a5;
	font-weight: 700;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 20px
}

.introContent .viewmore:hover {
	background: #f2f2f3
}

.introContent .Qrcode {
	position: relative;
	display: inline-block;
	text-align: center;
	top: 5px
}

.introContent .Qrcode .small-img {
	width: 15px;
	height: 15px
}

.introContent .Qrcode .Qrcode-img {
	position: absolute;
	display: none;
	width: 188px;
	padding-bottom: 11px;
	background: #fff;
	left: -40px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.introContent .Qrcode .Qrcode-img i {
	position: absolute;
	background: #fff;
	height: 10px;
	width: 10px;
	top: -2px;
	left: 43px;
	-webkit-transform: rotate(45deg) translateX(-50%);
	transform: rotate(45deg) translateX(-50%);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .3)
}

.introContent .Qrcode .Qrcode-img img {
	display: block;
	width: 188px;
	height: 188px;
	position: relative;
	z-index: 9
}

.overview .content .price .total {display: inline-block;font-size:36px;line-height:30px;color: #f2140d;font-weight: 700;max-width: 165px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.overview .content .price .unit {display: inline-block;font-size: 16px;color: #444;height: 37px;vertical-align: 6px}
.overview .content .aroundInfo {line-height: 18px;font-size: 14px}
.overview .content .aroundInfo .label {color: #9399a5;margin-right: 20px}
.overview .content .aroundInfo .info {color: #101d37}
.overview .content .aroundInfo .areaName {margin-top: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.overview .content .aroundInfo .schoolName {margin-top: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
.overview .content .aroundInfo .houseRecord,
.overview .content .aroundInfo .visitTime {margin-top: 16px}

.overview .content .brokerInfo .phone .phone400 {
	background: #3072f6;
	border-radius: 2px;
	min-width: 252px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 700
}

.overview .content .brokerInfo .phone .phone400 span {
	font-size: 14px;
	padding: 0 4px;
	line-height: 20px
}

.overview .content .brokerInfo .phone .margin {
	float: right;
	display: block;
	width: 8px;
	height: 46px;
	background: #fff
}

.overview .content .brokerInfo .phone .new-talk {
	width: 118px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	float: right;
	background: #f4f8fe;
	border: 1px solid #4688f1;
	border-radius: 2px;
	font-size: 14px;
	color: #4688f1;
	text-decoration: none;
	cursor: pointer
}

.overview .content .brokerInfo .phone .new-talk .im-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/pegasus/redskull/images/ershoufang/images/ershoufang/im-chart@2x.png?v=e0de7f4c) no-repeat 50%/16px;
	padding: 0;
	margin-right: 8px;
	vertical-align: -3px
}

.overview .content .brokerInfo .noData {
	color: #9399a5;
	font-size: 14px
}

.overview .content .download {
	padding: 35px 0;
	display: none
}

.overview .content .download .qr-code img {
	display: inline-block
}

.overview .content .download .qr-code .text {
	color: #101d37;
	font-size: 12px;
	font-weight: 700;
	line-height: 94px;
	margin-left: 10px
}

.overview .phoneCover {
	font-size: 14px;
	padding: 5px 0;
	margin-top: 13px;
	line-height: 25px;
	border-radius: 3px;
	width: 100%;
	color: #fff;
	text-align: center;
	background: #db4c3f;
	cursor: pointer
}


.component-agent-es-pc-2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.component-agent-es-pc-2 .ke-agent-sj-avatar {display: block;width: 80px;height: 80px; -webkit-border-radius: 50%;border-radius: 50%; overflow: hidden;}
.component-agent-es-pc-2 .ke-agent-sj-avatar img {
    width: 100%;
    height: auto;
}
.component-agent-es-pc-2 .ke-agent-sj-fl {float: left; margin-right: 17px;}
.ke-agent-sj-top .info{display: block;clear: both;overflow: hidden;color: #9399a5;font-size: 75%;}
.ke-agent-sj-top .info.infoAdd{padding: 5px 0 2px 0}
.ke-agent-sj-top a.info.phone{display: block;clear: both;overflow: hidden;color: #101d37;font-size:20px;letter-spacing: 0;font-family:Calibre,sans-serif;}
.ke-agent-sj-top a.info.phone i.fa.fa-phone{margin-right: 1rem;}
.ke-agent-sj-top a.info.phone:hover{color:#f2140d}
.component-agent-es-pc-2 .ke-agent-sj-fr {float: left;}
.component-agent-es-pc-2 .ke-agent-sj-info {
    width: 300px;
    margin-top: 6px;
    line-height: 1;
    font-size: 12px;
}
.component-agent-es-pc-2 .ke-agent-sj-name {vertical-align: middle;font-size:18px;font-weight: 700;color: #101d37;margin-right: 8px;max-width: 140px; display: inline-block;
 white-space: nowrap;overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; line-height:28px;cursor: pointer;}
.component-agent-es-pc-2 .ke-agent-sj-desc {
    margin-top: 6px;
    font-size: 14px;
    color: #9399a5;
    letter-spacing: 0;
    line-height: 17px;
}
.component-agent-es-pc-2 .ke-agent-sj-profile-card img {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 18px;
    vertical-align: middle;
    background: #f5f5f6;
}
.component-agent-es-pc-2 .ke-agent-sj-desc, .component-agent-es-pc-2 .ke-agent-sj-tag {    vertical-align: bottom;white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis;text-overflow: ellipsis; margin-right: 3px;font-size: 13px;}

/*頭部導航-開始*/
/*頭部-開始*/

	.header {
		height: 4.3rem;
		background: #932a2a;
	}

	.navbar-header {
		padding: 0 1.2rem;
        background: initial;
	}

	.navbar-toggle {
		padding: 0;
		width: 2.9rem;
		float: left;
		height: 4.2rem;
	}

	.iconuser {
		width: auto;
		float: right;
	}

	button.navbar-toggle .f-hide {
		display: inline-block;
	}

	button.navbar-toggle .f-show {
		display: none;
	}

	button.collapsed .f-hide {
		display: none;
	}

	button.collapsed .f-show {
		display: inline-block;
	}

	.navbar-toggle img {
		width: 100%;
	}

	.header .headlogo .innerlogo,.header .headlogo .innerlogo>a {
	    display: flex;
	    justify-content: center;
	}

	.header .headlogo img {
		height: 4.3rem;
		/*margin: 1.2rem auto;*/
	}

	.header .headlogo p {
		height: 4.3rem;
		line-height: 4.3rem;
		color: #fff;
		font-size: 1.5rem;
	}

	.header .headlogo a {
		width: 100%;
	}

	.header .headlogo p span {
		padding: 0 1rem 0 0.8rem;
	}

	.header .btn-default {
		border: 0;
		padding: 0;
		width: 100%;
		font-size: 1.5rem;
		text-align: right;
		line-height: 4.2rem;
	}

	.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
		background: none;
	}

	.header .dropdown-menu {
		left: auto;
		right: -1.2rem;
		min-width: 100%;
		border: 0;
		box-shadow: none;
		background: #151323;
		color: #333;
		font-weight: 600;
	}

	.header .dropdown-menu a {
		color: inherit;
		font-size: 1.8rem;
		padding: 0.8rem 1.6rem;
	}

	.header .secmenu a {
		padding: 0 1rem;
		font-size: 1.4rem;
	}

	.header .dropdown-menu .active a {
		background: none;
		color: #f54b8c
	}

	.header .opacity {
		opacity: 0.6;
		color: #fff;
	}

	.header .navlist {
		background: #fff;
		color: #101d37;
		font-weight: 600;
		font-size: 1.4rem;
	}

	.header .navlist li a:hover, .navlist li a:focus {
	    text-decoration: none;
	    color: #333;
	    background: none;
	}

	/*.header .nav-logo {
		padding-right: 0
	}*/

	.header .search-login {
		padding-left: 0;
	}

	.header .search-login > div {
		display: flex;
		justify-content: space-around;
	}

	.header .search-login span {
		width: 35%;
		max-width: 2.5rem;
		line-height: 4.3rem;
	}

	.header .search-login span img {
		width: 100%;
	}

	.header .mobile-nav {
		border-top: 0;
	}

	.header .mobile-nav > ul {
		width: 36%;
		min-width: 11rem;
		background: #932a2a;
		color: #fff;
		margin: 0 -15px;
		box-shadow: inset 0 0.1px 0.5rem 0 #888;
	}

	.header .mobile-nav > ul li {
		border-bottom: 0.1rem solid #d5755c;
		background: url(../images/right.png) no-repeat 90% center;
		background-size: 1.4rem;
	}

	.header .mobile-nav > ul li a {
		padding: 0 1.6rem;
		font-size: 1.4rem;
		line-height: 4.4rem;
	}

	.header .mobile-nav > ul li a:focus {
		background-color: inherit;
	}

	.header .searcharea {
		background: #fff;
	}

	.header .searcharea .searchbox {
		margin: 1.2rem 0;
		border: 0.1rem solid #e4e0e1;
	}

	.header .searcharea .searchbox > input {
		width: 70%;
		float: left;
		line-height: 3.4rem;
		text-indent: 1em;
	}

	.header .searcharea .searchbox > input::-webkit-input-placeholder {
		font-size: 1.3rem;
		color: #aaa;
	}

	.header .searcharea .searchbox > label {
		width: 30%;
		float: left;
		line-height: 3.4rem;
		background: #bd543e;
		color: #fff;
		font-size: 1.6rem;
		text-align: center;
		letter-spacing: 0.2rem;
	}

	.header .search-hot {
		padding-bottom: 0.5rem;
	}

	.header .search-hot .title {
		font-size: 1.5rem;
		color: #aaa;
		padding-bottom: 1.2rem;
	}

	.header .search-hot > div span {
		padding: 0.5rem;
		color: #fff;
		background: #bd543e;
		font-size: 1.6rem;
		display: inline-block;
		border-radius: 0.4rem;
		margin-bottom: 1.2rem;
		margin-right: 0.5rem;
	}

	.header .loginOut {
		background: #932a2a;
		box-shadow: inset 0 0.1px 0.5rem 0 #888;
		
	}

	.header .loginOut .loginbox {
		width: 60%;
		min-width: 220px;
		margin: auto;
	}

	.header .loginOut .loginbox li {
		padding-top: 1rem;
		white-space: nowrap;
	}

	.header .loginOut .loginbox li i img {
		width: 2.4rem;
	}

	.header .loginOut .loginbox li input {
		background: none;
		color: #eea38c;
		font-size: 1.3rem;
		line-height: 3.0rem;
		border-bottom: 0.1rem solid #d5755c;
		width: calc(100% - 3.5rem)
	}

	.header .loginOut .loginbox li input::-webkit-input-placeholder {
		color: #eea38c;
	}

	.header .loginOut .loginbox li input[type="checkbox"] {
		width: auto;
		margin-left: 1rem;
		margin-right: 0.2rem;
		width: 1.3rem;
		height: 1.3rem;
		border: none;
		vertical-align: text-bottom;
	}

	.header .loginOut .loginbox li .check-box {
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem 0;
	}

	.header .loginOut .loginbox li input[type="submit"] {
		width: 100%;
		line-height: 2.8rem;
		background: #fff;
		border-radius: 2rem;
		text-align: center;
		font-size: 1.6rem;
		color: #bd543e;
		font-weight: 600;
	}

	.header .loginOut .loginbox li .forget {
		display: inline-block;
		font-size: 1.2rem;
		color: #efa372;
		vertical-align: bottom;
		line-height: 2rem;
	}

	.header .loginOut .to-register {
		font-size: 1.2rem;
		color: #efa372;
		text-align: center;
		padding: 1.8rem 0;
	}

	.header .loginOut .to-register img {
		width: 1rem;
		margin-top: -0.1rem;
	}

	.header .loginOut .logoutbox {
		padding: 1rem 0;
	}

	.header .loginOut .logout {

	}

	.header .loginOut .logout .face {
		float: left;
		width: 8.5rem;
		height: 9rem;
		background: #f0f0f0;
	}

	.header .loginOut .logout .face img {
		width: 100%;
		height: 100%;
	}

	.header .loginOut .logout .infos {
		float: left;
		padding-left: 1.5rem;
		width: calc(100% - 9rem)
	}

	.header .loginOut .logout .infos ul li {
		color: #fff;
		line-height: 3rem;
		font-size: 1.4rem;
		border-top: 0.1rem solid #d5755c;
		background: url(../images/right.png) no-repeat 100% center;
		background-size: 1.4rem;
	}

	.header .loginOut .logout .infos ul li.name {
		font-weight: 600;
		border-top: 0;
		background: none;
	}
 .record {
	width: initial;
	line-height: 1
}

 .record .list {
	display: inline-block;
	vertical-align: top;
	width: 490px
}

 .record .list .title span {
	float: right;
	cursor: pointer;
	text-align: center;
	line-height: 34px
}

 .record .list .title span i {
	vertical-align: 1px
}

 .record .list .pagination {
	margin-top: 20px;
	text-align: right
}

 .record .list .pagination .next,
 .record .list .pagination .pre {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	color: #888c8e;
	font-size: 14px;
	border: 1px solid #d9dcde;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer
}

 .record .list .pagination .next:hover,
 .record .list .pagination .pre:hover {
	background: #f8f8f9
}

 .record .list .pagination .disable {
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: not-allowed
}

 .record .list .content {
	margin-top: 37px;
	height: initial;
	font-size: 0
}

 .record .list .content .record-header {
	line-height: 46px;
	border-bottom: 1px solid #eee;
	font-weight: 700
}

 .record .list .content .record-header div {
	display: inline-block;
	font-size: 14px;
	text-align: left;
	color: #222
}

 .record .list .content .row {
	border-bottom: 1px solid #eee;
	text-align: left;
	line-height: 55px;
	height: 55px
}

 .record .list .content .row>div {
	font-size: 12px;
	display: inline-block;
	text-align: left;
    vertical-align:top;
}

 .record .list .content .row .agentName {
	vertical-align: inherit;
	text-align: left
}

 .record .list .content .row .agentName span {
	width: auto;
	margin-left: 6px
}

 .record .list .content .row .agentName .brand {
	margin-left: 0
}

 .record .list .content .row .agentName .jjr_infocard {
	margin-left: 0;
	vertical-align: middle
}

 .record .list .content .row .noData {
	font-size: 14px;
	color: #9399a5
}

 .record .list .content .mytime {
	width: 95px
}

 .record .list .content .myname {
	width: 170px
}

 .record .list .content .mytotal {
	width: 50px
}

 .record .list .content .item img.head_photo {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle
}

 .record .list .content .item span {
	display: inline-block;
	vertical-align: middle;
	color: #101d37
}

 .record .list .content .item a:hover {
	text-decoration: none
}

 .record .list .content .phone {
	width: 170px;
	font-weight: 700
}

 .record .list .content .lianjiaim-createtalk {
	width: 16px;
	height: 16px;
	vertical-align: -4px!important;
	background: url(/pegasus/redskull/images/ershoufang/images/ershoufang/im-chart@2x.png?v=e0de7f4c) no-repeat 50%/14px
}

 .record .panel {
	display: inline-block;
	width: 190px;
	margin-top: 75px;
	text-align: center;
	margin-left: 25px;
    box-shadow: none;
}

 .record .panel .panel-title {
	font-weight: 700
}

 .record .panel .count {
	font-size: 80px;
	font-family: Tahoma;
	font-weight: 700;
	letter-spacing: -1px;
	margin-top: 30px;
	margin-bottom: 30px
}

 .record .panel .totalCount {
	font-size: 14px;
	margin-top: 14px;
	color: #a9abab
}

 .record .panel .msyy {
	width: 200px;
	border-radius: 2px;
	margin-top: 37px;
	height: 45px;
	background-color: #f4f7f9;
	color: #828b92;
	line-height: 45px;
	text-align: center;
	font-weight: 700
}


/*頭部-結束*/

/*頭部二級導航-開始*/

    .firstCon {
        margin-top: 4.3rem;
        position: relative;
        height: 4rem;
        overflow: hidden;
    }

    .firstCon .innerslider {
        position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
		width: 130%;
		background: #fff;
    }

    .first-nav ul {
        display: flex;
        justify-content: center;
        padding: 0.8rem 0;
        flex-wrap: wrap;
    }

    .first-nav ul li {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 0 1.6rem;
        border-top: 0.2rem solid #fff;
        cursor: pointer;
        border-left: 0.05rem solid #deaa94;
    }

    .first-nav ul li:nth-child(2) {
        border-left: 0;
    }

    .first-nav ul li:last-child {
    	border-right: 0;
    }

    .first-nav ul li:hover {
        color: #c5573e;
        font-weight: 600;
        border-top: 0.2rem solid #ebca6d;
    }

    .first-nav ul li.active {
        color: #c5573e;
        font-weight: 600;
    }

    .first-nav ul li span {
    	display: flex;
    	line-height: 2rem;
    }

/*頭部二級導航-結束*/

/*尾部-開始*/

	.footer {
		color: #fff;
	}

	.footer .fir-floor {
		font-size: 1.3rem;
		font-weight: 400;
		background: #c55740;
	}

	.footer .fir-floor ._items {
		border-top: 0.1rem solid #fff;
		border-bottom: 0.1rem solid #fff;
		padding-bottom: 1rem;
	}

	.footer .fir-floor ._items > div {
		line-height: 1em;
		padding-top: 1rem;
		display: flex;
	}

	.footer .fir-floor ._items > div a {
		line-height: 1.8rem;
		white-space: nowrap;
	}

	.footer .fir-floor ._items > div span {
		padding: 0 1rem 0 0.5rem;
	}

	.footer .fir-floor .fo-title {
		padding: 1.2rem 0;
	}

	.footer .fir-floor .fo-title i {
		float: right;
	}

	.footer .fir-floor .fo-title i.open {
		transform: rotate(180deg);
	}

	.footer .fir-floor .fo-title i img {
		width: 1.5rem;
	}

	.footer .sec-floor {
		font-size: 0.8rem;
		padding: 0.5rem 0 3rem;
		background: #fff;
		color: #9d9d9d;
		margin: 0 -3.6rem;
		text-align: center;
	}

	.footer .sec-floor .lis {
		padding-top: 0.5rem;
	}

	.footer .sec-floor .lis .for-mobile {
		display: inline;
	}

	.footer .sec-floor .lis span {
		line-height: 1.8rem;
		padding: 0 0.2rem 0 0.2rem;
		margin-bottom: 1rem;
		border-right: 0.1rem solid #ccc;
	}

	.footer .sec-floor .lis span:last-child {
		border: 0;
	}

	.footer .sec-floor .contact {
		white-space: nowrap;
		padding-top: 0.6rem
	}

	.footer .sec-floor .contact span {
		display: inline;
		padding-bottom: 0.5rem;
	}

	.footer .sec-floor .contact span.min {
		display: none;
	}

/*尾部-結束*/

@media screen and (max-width: 1440px){
.wrapper, .container { max-width: 1200px; min-width: 960px;}
.law-scroll{height:65px;}
}
@media screen and (max-width: 1200px){
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {margin-right: 0;margin-left: 0;}
.flex-viewport{/*height:400px;*/}
.registerTable td{padding:10px;}
.floatButton h2.objectName{font-size: 400%!important;}
.floatButton .objectName{height:300px;}
a.back {padding-left: 30px;}
} 
@media (min-width: 1200px){
.fix750{width:750px; margin-right:25px}
}
@media (min-width: 992px){
.container {padding: 0;}
.table.StackTableCS{font-size:180%;}
.view-mail img{width:50%;}
/*.table-responsive>.table.StackTable th,.table-responsive>.table.StackTable td{ font-size:150%;}*/
footer {margin-left: 0px;}
}
@media screen and (max-width: 991px){
.wrapper, .container,.graySub .seven-cols,.th-list,.container_1366{ width: 100%; padding: 0; max-width:inherit; min-width: inherit; padding:0;}
.container.container_1366{padding:0 15px;}
.table.StackTableCS{font-size:150%;}
.flex-viewport{height:initial;}
.phones{padding: 30px; font-size: 200%;}
iframe.map{height:auto;}
.x_panel.tile.location .navbar-right{top: 0px;}
}
@media (max-width: 800px){
/*Label the data*/
.table>tbody>tr:nth-child(1)>th{ border-top:1px dotted #ccc;}
.table-responsive{ border:0;}
.col-md-6.col-sm-6.col-xs-12 .table>tbody>tr>td,.col-md-6.col-sm-6.col-xs-12 .table>tbody>tr>th{ border-top:1px dotted #ccc;}
p.ac{line-height:1.8em;}
.page-title{ height:auto;}
body.x_panel_2 .x_panel_3{ border:0; padding:0;}
.table-responsive>.table>tbody>tr>td{white-space: initial;}
.table-responsive>.table.StackTable td.join::before{ display:none; content:"";}
.clinics {font-size: 150%;line-height: 1.5em;padding: 0.5em 0;word-break: break-all;}
.form-group label{margin-bottom:0;}
.rwd_0,tr.rwd_0{display:none!important;}
.visionInfo .pull-right{float:none!important;}
.rwd_00 img{ position:absolute; height:100px!important; top:0; bottom:0; margin:auto; }
.flex-control-nav{ display:none;}
br.rwd_1{ display:block;}
.view-mail p.text-center img{ width:100%; height:auto;}
}

@media (min-width: 768px){
/*頭部導航-開始*/
.header {height: 3rem;color: #fff; min-width: 1400px; white-space: nowrap; background: #b32426; }
.header .other-menu {left: 0;color: #333;}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background: none;}
.header .navbar-nav > li > a:hover { color: #fff;}
.header .dropdown-menu {background: none; color: #767e8f;position: absolute;top: 100%; padding-top: 0; min-width: 160%;right: auto;border: 0.1rem solid #b32426; }
.header .dropdown-menu li a {white-space: normal;white-space: nowrap;background: #fff;}
.header .dropdown-menu li a:hover {background:#b32426; color: #fff;}
.header .dropdown-menu li:hover li a {background: #b32426;}
.header .dropdown-menu li li:hover a {font-weight: 600;}
.header .headlogo img {width: auto;height: 100%;margin: 0;}
.header .navlist {background: none;color: #fff;}
.header .navlist ul li a {padding: 0 1.3rem;line-height: 3rem;font-size: 1.2rem;}
.header .navlist ul li .dropdown-menu li a{font-size: 1rem;}
.header .secmenu a {line-height: 2.4rem;padding: 0.5rem 1rem;font-size: 1.1rem;}
.header .secli ul {display: none;position: absolute;left: 100%;top: 0;background: none;}
.header .secli ul li a {text-indent: 0;}
.header .head-part {padding: 0 1rem;height: 1px;}
.header .g-part {padding: 0;}
.header .slideDown .showin {display: none;}
.header .slideDown .langlist {position: absolute; left: -50%;top: 4.5rem;background: #fff;border: 1px solid #e9d7cd;width: 126px;text-align: center;padding: 1rem 0;}
.header .bg-login .langlist {width: 190px;left: -20%;}
.header .slideDown > a:hover span,.header .slideDown > a:focus {color: #fff;}
.header .slideDown ul {position: relative;}
.header .slideDown ul img {position: absolute;left: 50%;left: calc(50% - 11px);top: -2.5rem;height: 1.5rem;z-index: 2;}
.header .slideDown ul li {color: #555;padding: 1rem 0;}
.header .slideDown ul li a {line-height: 1em;padding: 0;font-size: inherit;}
.header .slideDown ul li a:hover {color: #c6563f;}
.header .navlist .addrCon > a {padding-left: 1.5rem;background: url(../images/icon-position.png) no-repeat left center;background-size: 1rem;}
.header .navlist .addrCon > a > i,.header .navlist .langCon > a > i {padding: 0.5rem;margin-left: 0.3rem;background: url(../images/triangle.png) no-repeat center 55%;background-size: 0.7rem;}
.redline {padding-top: 10rem;border-bottom: 0.1rem solid #cf4332;}
.centerbody {margin-top: 3rem;}
/*頭部導航结束*/

/*頭部二級導航-開始*/
.firstCon {margin-top: 3rem;height: auto;}
.firstCon .innerslider {position: static;width: 100%;margin: 0;}
.first-nav ul {padding: 2rem 0;}
.first-nav ul li {font-size: 1.6rem;cursor: pointer;padding: 0 2rem;border-left: 0.05rem solid #deaa94;}
.first-nav ul li:nth-child(1) {border-left: 0;}
.first-nav ul li:nth-child(2) {border-left: 0.05rem solid #deaa94;}
.first-nav ul li.active {border-top: 0.2rem solid #ebca6d;}
.first-nav ul li span {line-height: 3.2rem;}
/*頭部二級導航-結束*/

/*尾部-開始*/
.footer {color: #000;padding-bottom: 6rem;}
.footer .fir-floor {font-size: 1.1rem;background: #fff;}
.footer .fir-floor ._items {padding-left: 10.5rem;margin-left: -30px;}
.footer .fir-floor ._items > div {line-height: 2rem;padding-top: 0;}
.footer .fir-floor ._items > div .labeled {color: #c91e1c;}
.footer .bor-bottom {padding: 3rem 0 2rem 0;}
.footer .codeContainer {padding: 3.5rem 0 1rem 5rem;color: #333;display: flex;align-items: flex-end;}
.footer .codeContainer .le-logo {padding-right: 5px;min-height: 8rem;display: flex;align-items: center;}
.footer .codeContainer .ri-logo {padding-bottom: 0.5rem;padding-left: 0.5rem;}
.footer .codeContainer .ri-logo img {width: 20%;min-width: 3.5rem;}
.footer .codeContainer .mygo-logo {width: 100%;}
.footer .introduce {font-size: 1.1rem;line-height: 2rem;font-weight: 500;border-left: 0.1rem solid #666;padding-left: 2rem;}
.footer .codeCon {text-align: center;padding: 0 0.6rem;}
.footer .codeCon span {background: #ebca6d;padding: 0.4rem;display: inline-block;margin: auto;}
.footer .codeCon img {width: 5rem;}
.footer .codename {text-align: center;font-size: 1.4rem;line-height: 2.8rem;}
.footer .sec-floor {font-size: 1.0rem;text-align: center;margin-top: 2.5rem;}
.footer .sec-floor .lis {display: inline-block;}
.footer .sec-floor .lis .for-mobile {display: none;}
.footer .sec-floor .sec-lis {border-bottom: 0;}
.footer .sec-floor .lis span {padding: 0 0.5rem 0 0.2rem;border-right: 0.1rem solid #9d9d9d;}
.footer .sec-floor .lis span:last-child {border: 0;}
.footer .sec-floor .contact {padding-top: 0.8rem;}
.footer .sec-floor .contact span {padding-bottom: 0}
.footer .sec-floor .contact span._tel {padding-right: 0;}
.footer .sec-floor .contact span.min {display: inline-block;}
/*尾部-結束*/
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (-webkit-min-device-pixel-ratio:1.5) {
.wrapper, .container{width: 100%}
.table-responsive>.table.StackTable th:first-child,.table-responsive>.table.StackTable td:first-child{display:none;}
.container.siteLink{ width:100%;}
.mgTabs .col-xs-2.col-sm-1{ width:10%;}
.StackTableCS2  .btn.btn-success.othersBtn:first-child{ display:none;}
.col-xs-12.col-sm-6.rwd_00 img{  right:0; left:0; width:90%;}
.h2, h2 {font-size: 330%;font-weight: 500;}
.container {padding: 0 30px;}
.row.gallery{margin-left:0px;margin-right:0px}
}
@media only screen and (min-device-width:1025px) and (max-device-width:1366px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape){
.wrapper, .container,.container.siteLink,.banners{width:100%!important;}/* 左右padding為ipad不左右晃破版關鍵 */
.mgTabs .col-xs-2.col-sm-1{ width: 8.33333333%;}
.wrapper, .container {max-width: 1366px;min-width: 960px;}
}

@media only screen and (min-device-width:600px) and (max-device-width:991px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:Portrait) {
.row.gallery{margin-left:0px;margin-right:0px}
.container.container_1366 {padding: 0 30px;}
}
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation : landscape){
.footer h4 {font-size: 175%;}
}

@media only screen and (max-device-width:992px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape) {
.row.gallery{margin-left:0px;margin-right:0px}
}

@media (max-width: 740px) and (orientation : landscape) {
}


@media (max-width: 480px){
.modal-dialog { position: relative;width: auto;margin: 10px;}
.well{ padding:7px;}
.cta-2-form input.Qsearch[type="text"] {min-width: 280px;}
h1{ margin-bottom:10px;}
.btn{width:100%;}
.table.StackTableCS{font-size:100%;}
.table-responsive {overflow-x: hidden;padding:1px;}
.table-responsive th:nth-child(3),.table-responsive td:nth-child(3){display:none;}
.table-responsive td:nth-child(2) a{width:220px;word-wrap: break-word;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;}
.table.StackTableCS th, .table.StackTableCS td {padding: 15px 5px;font-size: 133%;}
h2.docoterName {margin-top: 10px;}
/* Force table to not be like tables anymore */
table.StackTable, table.StackTable thead, table.StackTable tbody, table.StackTable th, table.StackTable td, table.StackTable tr {display: block;border: 0;}
/* Hide table headers (but not display: none;, for accessibility) */
table.StackTable thead tr {position: absolute;top: -9999px;left: -9999px;}
table.StackTable tr {border-top: 1px solid #ccc;border-bottom:0;}
table.StackTable tr:first-child {border-top: 0;}
table.StackTable tr:last-child {border-bottom: 0;}
table.StackTable td {border: none;border-bottom: 1px dotted #ccc;position: relative;width: 100%;}
table.StackTable > tbody > tr > td {border-top: 0;font-size: 100%;padding: 5px;}
.table.StackTable td::before {font-weight: bold;white-space: initial;color: #333 !important; display: inline-block; width:50%; text-align:left;  float:left;margin-right: 20px;}
table.StackTable > tbody > tr.spViewBG > td::before,tr.spViewBG td{color:#fff!important;}
.table.StackTable.land td:before{width:100%; margin-bottom:10px;}
.table.StackTable.land td{ border-right:initial;}
.table-responsive>.table.StackTable.classTable td{text-align:left}
.table-responsive>.table.StackTable.classTable td:before{text-align:left;  float: left;}
table.StackTable i.fa-minus-circle{font-size: 129%;}
.phones{font-size:170%;padding: 16px;}
.container.siteLink .phones a::after{ height:20px;}
table.table th,table.table td{ font-size: 120%;border-bottom: 1px solid #ddd;}
table.table.StackTable th{display:none;}
table.table.StackTable.maxWidthTable th{display:block;}
.table.StackTable p{ margin:0px;}
.h2, h2 {font-size: 200%;font-weight: 500;}
.small, small { font-size: 100%;}
.x_content h4{margin-bottom: :20px;}
table.StackTable tr.borderNone{border:0;}
.container_1366 {max-width: initial;min-width: initial;_width: expression((document.documentElement.clientWidth||document.body.clientWidth)>1200?'1200px':"96%"));}
.row.gallery{margin-left:0px;margin-right:0px}
#topcontrol {display: block;}
.rwd_00,.rwd_0{display: none}
.navbar-nav.house{display: none}
}/* end of 480 */

@media (max-width: 320px){
table.table th{ /*width:140px;*/}
.checkDate{font-size: 100%;}
.table-responsive td:nth-child(2) a{width:165px;}
.table.StackTableCS th, .table.StackTableCS td {font-size: 100%;}
ul.bar_tabs > li a {  padding: 10px 4px; }
}

@media only screen and (min-width: 320px){
    html {
        font-size: 50.3% !important;
    }
}

@media only screen and (min-width: 360px){
    html {
        font-size: 62.5% !important;
    }
}

@media only screen and (min-width: 412px){
    html {
        font-size: 71.6% !important; 
    }
}

/*@media only screen and (min-width: 767px){
    html {
        font-size: 128% !important; 
    }
}*/