/* input default text size for disabled iOS auto Zoom in */
input,
input[type="text"],
input[type="password"],
select:focus,
select {
  font-size: 16px !important;
}

/* Disabled Select */
.unselect {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* font settings */
/* iPhone X Safe Area fixing */
/* iOS 11 up */
/* iOS lower than 11 */
/* mixing obj */
/* easing function */
/* Transform */
/* filter */
/* FlexBox */
.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex6 {
  flex: 6;
}

.flex7 {
  flex: 7;
}

.flex8 {
  flex: 8;
}

.flex9 {
  flex: 9;
}

.flex10 {
  flex: 10;
}

.flex11 {
  flex: 11;
}

.flex12 {
  flex: 12;
}

.flex13 {
  flex: 13;
}

.flex14 {
  flex: 14;
}

.flex15 {
  flex: 15;
}

.flex16 {
  flex: 16;
}

.flex17 {
  flex: 17;
}

.flex18 {
  flex: 18;
}

.flex19 {
  flex: 19;
}

.flex20 {
  flex: 20;
}

.flex21 {
  flex: 21;
}

.flex22 {
  flex: 22;
}

.flex23 {
  flex: 23;
}

.flex24 {
  flex: 24;
}

/* position offset */
/* grid system */
/* position center */
/* size */
/* media query */
/*
xs: <= 575px
sm: 576px ~ 767px
md: >= 768px
lg: >= 992px
xl: >= 1200px
*/
