.top_mainBanner-fluid {
  display: block;
  height: 475px;
  width: 100%;
  background-image: url(../images/newHouse/headerBig-BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.top_mainBanner-fluid div.container-fluid {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.top_mainBanner-fluid .container {
  display: block;
  height: 475px;
  width: 100%;
  background-image: url(../../images/newHouse/headerBig-BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: 9;
  left: 50%;
  transform: translateX(-570px);
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top_mainBanner-fluid .container {
    left: 15px;
    transform: translateX(0);
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .top_mainBanner-fluid .container {
    left: 8px;
    transform: translateX(0);
  }
}

@media (max-width: 767.9px) {
  .top_mainBanner-fluid .container {
    left: 8px;
    height: 300px;
    transform: translateX(0);
  }
  .top_mainBanner-fluid {
    height: 300px;
  }
}

@media (max-width: 415px) {
  .top_mainBanner-fluid .container {
    left: 0px;
  }
  .top_mainBanner-fluid {
    height: 300px;
  }
}

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}
