@charset "UTF-8";
.top_mainBanner-fluid {
  display: block;
  height: 475px;
  width: 100%;
  background-image: url(../images/newHouse/headerBig-BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.top_mainBanner-fluid div.container-fluid {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.top_mainBanner-fluid .container {
  display: block;
  height: 475px;
  width: 100%;
  background-image: url(../../images/newHouse/headerBig-BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: 9;
  left: 50%;
  transform: translateX(-570px);
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top_mainBanner-fluid .container {
    left: 15px;
    transform: translateX(0);
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .top_mainBanner-fluid .container {
    left: 8px;
    transform: translateX(0);
  }
}

@media (max-width: 767.9px) {
  .top_mainBanner-fluid .container {
    left: 8px;
    height: 300px;
    transform: translateX(0);
  }
  .top_mainBanner-fluid {
    height: 300px;
  }
}

@media (max-width: 415px) {
  .top_mainBanner-fluid .container {
    left: 0px;
  }
  .top_mainBanner-fluid {
    height: 300px;
  }
}

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

/* input default text size for disabled iOS auto Zoom in */
input,
input[type="text"],
input[type="password"],
select:focus,
select {
  font-size: 16px !important;
}

/* Disabled Select */
.unselect {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* font settings */
/* iPhone X Safe Area fixing */
/* iOS 11 up */
/* iOS lower than 11 */
/* mixing obj */
/* easing function */
/* Transform */
/* filter */
/* FlexBox */
.flex1 {
  -ms-flex: 1;
      flex: 1;
}

.flex2 {
  -ms-flex: 2;
      flex: 2;
}

.flex3 {
  -ms-flex: 3;
      flex: 3;
}

.flex4 {
  -ms-flex: 4;
      flex: 4;
}

.flex5 {
  -ms-flex: 5;
      flex: 5;
}

.flex6 {
  -ms-flex: 6;
      flex: 6;
}

.flex7 {
  -ms-flex: 7;
      flex: 7;
}

.flex8 {
  -ms-flex: 8;
      flex: 8;
}

.flex9 {
  -ms-flex: 9;
      flex: 9;
}

.flex10 {
  -ms-flex: 10;
      flex: 10;
}

.flex11 {
  -ms-flex: 11;
      flex: 11;
}

.flex12 {
  -ms-flex: 12;
      flex: 12;
}

.flex13 {
  -ms-flex: 13;
      flex: 13;
}

.flex14 {
  -ms-flex: 14;
      flex: 14;
}

.flex15 {
  -ms-flex: 15;
      flex: 15;
}

.flex16 {
  -ms-flex: 16;
      flex: 16;
}

.flex17 {
  -ms-flex: 17;
      flex: 17;
}

.flex18 {
  -ms-flex: 18;
      flex: 18;
}

.flex19 {
  -ms-flex: 19;
      flex: 19;
}

.flex20 {
  -ms-flex: 20;
      flex: 20;
}

.flex21 {
  -ms-flex: 21;
      flex: 21;
}

.flex22 {
  -ms-flex: 22;
      flex: 22;
}

.flex23 {
  -ms-flex: 23;
      flex: 23;
}

.flex24 {
  -ms-flex: 24;
      flex: 24;
}

/* position offset */
/* grid system */
/* position center */
/* size */
/* media query */
/*
xs: <= 575px
sm: 576px ~ 767px
md: >= 768px
lg: >= 992px
xl: >= 1200px
*/
.contantComment {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.contantComment .body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border: 1px solid #cccccc;
  border-bottom: 0px;
  padding: 20px;
}

.contantComment .body > div {
  min-width: 70px;
}

.contantComment .body > div img {
  width: 50px;
  height: 50px;
}

.contantComment .footer {
  padding: 10px 20px;
  border: 1px solid #cccccc;
  text-align: right;
}

.contantComment .menber {
  color: #2e2e2e;
  font-weight: 500;
}

.contantComment > div:last-child {
  width: 100%;
}

.contantComment .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.contantComment p {
  margin: .2em 0px;
}

.contantComment .icon_starGroup {
  margin-bottom: 3px;
  margin-top: 3px;
}

.contantComment .icon_starGroup i {
  float: left;
  line-height: 1em;
  margin-right: 2px;
}

.contantComment .icon_starGroup i img {
  width: 18px;
  height: 18px;
}

/* input default text size for disabled iOS auto Zoom in */
input,
input[type="text"],
input[type="password"],
select:focus,
select {
  font-size: 16px !important;
}

/* Disabled Select */
.unselect {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* font settings */
/* iPhone X Safe Area fixing */
/* iOS 11 up */
/* iOS lower than 11 */
/* mixing obj */
/* easing function */
/* Transform */
/* filter */
/* FlexBox */
.flex1 {
  -ms-flex: 1;
      flex: 1;
}

.flex2 {
  -ms-flex: 2;
      flex: 2;
}

.flex3 {
  -ms-flex: 3;
      flex: 3;
}

.flex4 {
  -ms-flex: 4;
      flex: 4;
}

.flex5 {
  -ms-flex: 5;
      flex: 5;
}

.flex6 {
  -ms-flex: 6;
      flex: 6;
}

.flex7 {
  -ms-flex: 7;
      flex: 7;
}

.flex8 {
  -ms-flex: 8;
      flex: 8;
}

.flex9 {
  -ms-flex: 9;
      flex: 9;
}

.flex10 {
  -ms-flex: 10;
      flex: 10;
}

.flex11 {
  -ms-flex: 11;
      flex: 11;
}

.flex12 {
  -ms-flex: 12;
      flex: 12;
}

.flex13 {
  -ms-flex: 13;
      flex: 13;
}

.flex14 {
  -ms-flex: 14;
      flex: 14;
}

.flex15 {
  -ms-flex: 15;
      flex: 15;
}

.flex16 {
  -ms-flex: 16;
      flex: 16;
}

.flex17 {
  -ms-flex: 17;
      flex: 17;
}

.flex18 {
  -ms-flex: 18;
      flex: 18;
}

.flex19 {
  -ms-flex: 19;
      flex: 19;
}

.flex20 {
  -ms-flex: 20;
      flex: 20;
}

.flex21 {
  -ms-flex: 21;
      flex: 21;
}

.flex22 {
  -ms-flex: 22;
      flex: 22;
}

.flex23 {
  -ms-flex: 23;
      flex: 23;
}

.flex24 {
  -ms-flex: 24;
      flex: 24;
}

/* position offset */
/* grid system */
/* position center */
/* size */
/* media query */
/*
xs: <= 575px
sm: 576px ~ 767px
md: >= 768px
lg: >= 992px
xl: >= 1200px
*/
.mediaList {
  margin-top: 20px;
}

.mediaList h5 {
  font-size: 15px;
}

.mediaList img {
  width: 50px !important;
  height: 50px !important;
}

.mediaList .media-body img {
  width: 40px !important;
  height: 40px !important;
}

.mediaList .footer {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.mediaList .footer button {
  white-space: nowrap;
  margin-left: 15px;
}

/* input default text size for disabled iOS auto Zoom in */
input,
input[type="text"],
input[type="password"],
select:focus,
select {
  font-size: 16px !important;
}

/* Disabled Select */
.unselect {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/* font settings */
/* iPhone X Safe Area fixing */
/* iOS 11 up */
/* iOS lower than 11 */
/* mixing obj */
/* easing function */
/* Transform */
/* filter */
/* FlexBox */
.flex1 {
  -ms-flex: 1;
      flex: 1;
}

.flex2 {
  -ms-flex: 2;
      flex: 2;
}

.flex3 {
  -ms-flex: 3;
      flex: 3;
}

.flex4 {
  -ms-flex: 4;
      flex: 4;
}

.flex5 {
  -ms-flex: 5;
      flex: 5;
}

.flex6 {
  -ms-flex: 6;
      flex: 6;
}

.flex7 {
  -ms-flex: 7;
      flex: 7;
}

.flex8 {
  -ms-flex: 8;
      flex: 8;
}

.flex9 {
  -ms-flex: 9;
      flex: 9;
}

.flex10 {
  -ms-flex: 10;
      flex: 10;
}

.flex11 {
  -ms-flex: 11;
      flex: 11;
}

.flex12 {
  -ms-flex: 12;
      flex: 12;
}

.flex13 {
  -ms-flex: 13;
      flex: 13;
}

.flex14 {
  -ms-flex: 14;
      flex: 14;
}

.flex15 {
  -ms-flex: 15;
      flex: 15;
}

.flex16 {
  -ms-flex: 16;
      flex: 16;
}

.flex17 {
  -ms-flex: 17;
      flex: 17;
}

.flex18 {
  -ms-flex: 18;
      flex: 18;
}

.flex19 {
  -ms-flex: 19;
      flex: 19;
}

.flex20 {
  -ms-flex: 20;
      flex: 20;
}

.flex21 {
  -ms-flex: 21;
      flex: 21;
}

.flex22 {
  -ms-flex: 22;
      flex: 22;
}

.flex23 {
  -ms-flex: 23;
      flex: 23;
}

.flex24 {
  -ms-flex: 24;
      flex: 24;
}

/* position offset */
/* grid system */
/* position center */
/* size */
/* media query */
/*
xs: <= 575px
sm: 576px ~ 767px
md: >= 768px
lg: >= 992px
xl: >= 1200px
*/
.mapInfo {
  margin-top: 40px;
}

.mapInfo .change {
  margin-left: 50%;
  margin-bottom: 20px;
}

.mapInfo .left {
  padding: 0 60px;
}

.mapInfo .right {
  padding: 0 60px;
}

body.xHidden {
  background-color: #f4f4f4;
  font-size: 16px;
  list-style: 1.5em;
  color: #1f1f1f;
}

h1 {
  /* font-size: 200%; */
  /* padding: 10px 0.5em 0 0; */
  /* margin-bottom: 10px;*/
  color: #111 !important;
  font-size: 1.5000em !important;
  /* 24px */
  line-height: 1.0000em !important;
  /* 24px */
  margin-top: 1.0000em !important;
  margin-bottom: 0.0000em !important;
}

h2 {
  font-size: 1.2500em;
  /* 20px */
  line-height: 1.2000em;
  /* 24px */
  margin-top: 1.2000em;
  margin-bottom: 0.0000em;
}

h3 {
  font-size: 1.1250em;
  /* 18px */
  line-height: 1.3333em;
  /* 24px */
  margin-top: 1.3333em;
  margin-bottom: 0.0000em;
}

.top {
  margin-top: 34px;
}

p {
  font-size: 1em;
  /* 16px */
  line-height: 1.5000em;
  /* 24px */
  margin: 0 0 1.5000em 0;
}

.newHouseDetail.container {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

div.country > div.image.view {
  display: contents;
  border: 1px solid #1977f3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
}

.detail_Item ol {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.detail_Item label {
  color: #8f8f8f;
  min-width: 70px;
  margin-right: 10px;
  font-weight: 400;
}

.detail_Item .title {
  font-size: 1.1250em;
  line-height: 1.3333em;
}

.detail_Item.ul_cols-2 ol {
  width: 50%;
  float: left;
  line-height: 1em;
}

.row.justify-content-center {
  -ms-flex-pack: center;
      justify-content: center;
}

button.btn_commentWhite {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  padding: 5px 20px;
  min-width: 300px;
  text-align: center;
  border: 1px solid #db0f00;
  background-color: #fff;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  transform: all;
  box-sizing: border-box;
  color: #db0f00;
}

button.btn_commentWhite:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0);
  color: #db0f00;
  background-color: rgba(0, 0, 0, 0.05);
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #8f8f8f;
}

::placeholder {
  color: #8f8f8f;
}

.w-1200 {
  width: 100%;
  max-width: 1200px;
}

.titlePrice {
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-top: 10px;
}

.titlePrice .box {
  display: -ms-grid;
  display: grid;
}

.houseDescription {
  display: block;
  background-color: 0deg;
  min-width: 310px;
  margin: 0px 20px 0px 0px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.houseDescription .price_inner {
  widows: 100%;
}

.houseDescription .price_inner .price {
  font-size: 2.3rem;
  color: #db0f00;
}

.houseDescription label {
  line-height: 1.4em;
}

.houseDescription span {
  line-height: 1.4em;
}

.houseDescription h1 {
  margin-top: .7em !important;
  margin-bottom: .7em !important;
}

.houseDescription ol {
  margin-bottom: 6px;
}

.houseDescription .small {
  font-size: 0.9em;
  line-height: 1.2em;
  display: block;
  color: #777777;
}

.houseDescription .footer {
  border-top: solid 1px #ababab;
}

.houseDescription_phone {
  min-width: 310px;
  margin: 0px 20px 0px 0px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.houseDescription_phone h1 {
  margin-top: 0em !important;
  margin-bottom: 0.5em !important;
}

.houseDescription_phone ol {
  line-height: 2.5em;
}

.houseDescription_phone .price {
  font-size: 2em;
  color: #db0f00;
}

.houseDescription_phone .price2 {
  color: #db0f00;
}

.houseDescription_phone .small {
  font-size: 0.9em;
  line-height: 1.2em;
  display: block;
  color: #777777;
}

.agCard__aside {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 20px 0;
}

.agCard__aside .icon_onlinetalk {
  color: #ffffff;
}

.agCard__aside .agPic {
  margin: 0 15px 0 5px;
}

.agCard__aside .agPic .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: #ffffff 1px solid;
  background-image: url("../../images/newHouse/agPic.png");
  background-size: cover;
}

nav.top_breadcrumb {
  height: 40px;
}

.top_logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top_mainBanner {
  display: block;
  height: 475px;
  width: 100%;
  background-image: url(../images/newHouse/headerBig-BG.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.top_mainBanner .top_mainBanner_list {
  padding: 5px 5px 0 5px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  max-width: 790px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}

.top_mainBanner .top_mainBanner_list .item {
  padding: 0 2px;
  position: relative;
}

.top_mainBanner .top_mainBanner_list .item h5 {
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
  width: 100%;
  bottom: 0px;
  color: #fff;
  margin: 0px;
  line-height: 3em;
  text-align: center;
  padding-bottom: -10px;
}

.top_mainBanner .top_mainBanner_list .item img {
  width: 100%;
  height: auto;
}

.top_mainBanner .top_mainBanner_list .smallImg {
  width: 800px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.top_mainBanner .top_mainBanner_list .smallImg > div {
  margin: 5px;
}

.cl-b {
  clear: both;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.mapInfo {
  margin-top: 40px;
}

.mapInfo .change {
  margin-left: 50%;
  margin-bottom: 20px;
}

.mapInfo .left {
  padding: 0 60px;
}

.mapInfo .right {
  padding: 0 60px;
}

.mapaddress {
  margin: 2em 0;
  display: block;
  border-top: solid 1px #8f8f8f;
  border-bottom: solid 1px #8f8f8f;
}

div.housePattern {
  width: 100%;
}

div.housePattern > div {
  width: 30%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
  margin-bottom: 2em;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

div.housePattern > div img {
  width: 100%;
}

div.housePattern > div > p {
  bottom: 0px;
  display: block;
  width: 100%;
  line-height: 2em;
  padding: 5px 0;
  text-align: center;
  color: #fff;
}

div.housePattern > div:nth-child(3n) {
  margin-left: 0px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #db0f00;
}

.nav-pills.nav {
  margin-bottom: 20px;
}

.nav-pills.nav li > a {
  position: relative;
  display: block;
  padding: 5px 15px 5px;
}

ul#contantTab a:hover {
  color: #db0f00;
}

ul#contantTab .active {
  border-bottom: 2px solid #db0f00;
}

.justify-content-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

ul.map_li {
  border: #ababab 1px solid;
}

ul.map_li li {
  padding: 10px;
  line-height: 1.5em;
  border-bottom: #ababab 1px solid;
}

.aside_contact {
  height: 70px;
  min-width: 310px;
}

.aside_contact .phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.aside_contact .phone > div:first-child {
  color: #db0f00;
  font-size: 1.4em;
  font-weight: 800;
  line-height: 1em;
}

.aside_contact .phone > div:first-child span {
  color: #2e2e2e;
}

.aside_contact .phone a.callphone:hover div {
  transition: ease-in-out 0.3s;
  transform: all;
  background-color: #ef2214;
}

.aside_contact .phone a.callphone:checked div {
  background-color: #a80c00;
}

.aside_contact .phone a.callphone div {
  line-height: 70px;
  padding: 0px 20px;
  background-color: #db0f00;
  color: #ffffff;
  font-size: 1em;
  font-weight: 800;
  width: 140px !important;
}

.dateTxt {
  color: #8f8f8f;
  font-size: 0.8750em;
  /* 14px */
  line-height: 1.7143em;
  /* 24px */
}

.agCard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.agCard img {
  width: 60px;
  height: 60px;
}

.agCard div.text {
  margin: 5px 10px;
}

.shareIcon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0px;
}

.shareIcon > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  line-height: 24px;
}

.shareIcon .line-brands span {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 12px;
  background-image: url(../images/newHouse/line-brands.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  color: #1ed154;
}

.icon.comment-regular {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  line-height: 24px;
  color: #8f8f8f;
}

.icon.comment-regular span {
  opacity: 0.2;
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  background-image: url(../images/newHouse/comment-regular.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.country > .image {
  position: relative;
}

.country > .image:hover .div-gradient {
  opacity: 0;
}

.country > .image .div-gradient {
  position: absolute;
  display: block;
  width: 100%;
  height: 10%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0) 11%);
  z-index: 9;
  bottom: 0;
  opacity: .8;
  transition: ease-in-out 0.3s;
  transform: all;
}

section.mortgageCal .row > div.mortgageCal_box {
  border-radius: 5px;
  border: #8f8f8f;
  padding: 20px;
}

section.mortgageCal .row > div.mortgageCal_box input {
  text-align: center;
}

section.mortgageCal .row > div.ad_banner img {
  width: 100%;
  height: auto;
}

section.mortgageCal .mortgageCal_resule {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  border: rgba(255, 255, 255, 0.8) 1px solid;
}

section.mortgageCal .mortgageCal_resule div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: start;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

section.mortgageCal .mortgageCal_resule div:last-child {
  border-bottom: 0px !important;
  margin-bottom: 0px !important;
}

section.mortgageCal .mortgageCal_resule span.title {
  border-left: 3px solid #d34622;
  padding: 0px 10px;
}

section.mortgageCal .mortgageCal_resule span.price {
  color: #db0f00;
  border-left: 0px;
}

section.mortgageCal .mortgageCal_resule span.price::after {
  font-size: 14px;
  color: #777777;
  content: "元";
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 980px) {
  section.mortgageCal .mortgageCal_box .mortgageCal_resule div {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  section.mortgageCal .mortgageCal_box .mortgageCal_resule div > span:last-child {
    text-align: right;
    width: 100%;
  }
  .mortgageCal_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

@media (max-width: 575.98px) {
  .mortgageCal_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .detail_Item.ul_cols-2 ol {
    width: 100% !important;
    clear: both;
  }
}
