<div class="inner mb-3">
  <button target="1" type="button" class="showSingle btn btn-outline-secondary active">外觀圖(8)</button>
  <button target="2" type="button" class="showSingle btn btn-outline-secondary">格局圖(8)</button>
  <button target="3" type="button" class="showSingle btn btn-outline-secondary">交通圖(8)</button>
  <button target="4" type="button" class="showSingle btn btn-outline-secondary">樣/品圖(8)</button>
  <button target="5" type="button" class="showSingle btn btn-outline-secondary">周邊環境(8)</button>
</div>
<div id="Album1" class="targetDiv">
  <!-- Swiper -->
  <div id="houseAlbum1" class="swiper-container  houseAlbum swiperBox">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        
        <span class="price">・大廳</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div><div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_10.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
    </div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div> -->
  </div>
  <!-- /Swiper -->
</div>
<div id="Album2" class="targetDiv">
  <!-- Swiper -->
  <div id="houseAlbum2" class="swiper-container  houseAlbum swiperBox">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div><div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_10.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
    </div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div> -->
  </div>
  <!-- /Swiper -->
</div>
<div id="Album3" class="targetDiv">
  <!-- Swiper -->
  <div id="houseAlbum3" class="swiper-container  houseAlbum swiperBox">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div><div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_10.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
    </div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div> -->
  </div>
  <!-- /Swiper -->
</div>
<div id="Album4" class="targetDiv">
  <!-- Swiper -->
  <div id="houseAlbum4" class="swiper-container  houseAlbum swiperBox">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        
        <span class="price">・大廳</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div><div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_10.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
    </div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div> -->
    <!-- <div class="swiper-button-prev swiper-button-white"></div> -->
  </div>
  <!-- /Swiper -->
</div>
<div id="Album5" class="targetDiv">
  <!-- Swiper -->
  <div id="houseAlbum5" class="swiper-container  houseAlbum swiperBox">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div><div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・廚房</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_06.jpg" alt="雲品大容">
        <span class="price">・陽台</span>
      </div>
      <div class="swiper-slide">
        <img src="images/newHouse/houseImg_10.jpg" alt="雲品大容">
        <span class="price">・房間</span>
      </div>
    </div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div> -->
  </div>
  <!-- /Swiper -->
</div>