<!-- Swiper -->
<!-- <div id="buildingPromo" class="swiper-container swiperBox"> -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/newHouse/img_housePic.png" alt="雲品大容">
      <h3>雲品大容1</h3>
      <span class="price">NT 90～NT100萬/坪</span>
      <div class="date"><i class="icon icon_clock"></i>年１月公開銷售</div>
    </div>
    <div class="swiper-slide">
      <img src="images/newHouse/img_housePic.png" alt="雲品大容">
      <h3>雲品大容2</h3>
      <span class="price">NT 90～NT100萬/坪</span>
      <div class="date"><i class="icon icon_clock"></i>年１月公開銷售</div>
    </div>
    <div class="swiper-slide">
      <img src="images/newHouse/img_housePic.png" alt="雲品大容">
      <h3>雲品大容3</h3>
      <span class="price">NT 90～NT100萬/坪</span>
      <div class="date"><i class="icon icon_clock"></i>年１月公開銷售</div>
    </div>
    <div class="swiper-slide">
      <img src="images/newHouse/img_housePic.png" alt="雲品大容">
      <h3>雲品大容4</h3>
      <span class="price">NT 90～NT100萬/坪</span>
      <div class="date"><i class="icon icon_clock"></i>年１月公開銷售</div>
    </div>
    <div class="swiper-slide">
      <img src="images/newHouse/img_housePic.png" alt="雲品大容">
      <h3>雲品大容5</h3>
      <span class="price">NT 90～NT100萬/坪</span>
      <div class="date"><i class="icon icon_clock"></i>年１月公開銷售</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
<!-- </div> -->
<!-- /Swiper -->