<div class="section-contant">
        <div class="header">
          <h4>評論</h4>
          <a href=""><i class="fas fa-angle-right"></i></a>
        </div>

        <div class="contant-commentList__list">
            <!--1-->
            <div class="contantComment">
            <div class="body">
                <div>
                <div class="menber-pic"><img src="images/newHouse/agPic.png" class="rounded-circle" alt=""></div>
                </div>
                <div>
                <div class="header">
                    <div class="icon_starGroup">
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-0.svg" alt=""></i>
                    <i><img src="images/newHouse/star-0.svg" alt=""></i>
                    <div class="cl-b"></div>
                    </div>
                    <div class="text-date">2019-08-01</div>
                </div>

                <div class="menber">貴賓17***49</div>
                <p>主要優點
                    參考單價：NT$49～51萬元/坪
                    地址：台中市南屯區向上路三段
                    物件位於國道3號 74號快速道路旁，交通便利。
                </p>
                </div>
            </div>
            <div class="footer">
                <strong>32</strong> 個人覺得此評論有幫助  
                <a href=""><i class="icon icon_good-E"></i></a>
            </div>
            </div>
            <!--/1-->

            <!--2-->
            <div class="contantComment">
            <div class="body">
                <div>
                <div class="menber-pic"><img src="images/newHouse/agPic.png" class="rounded-circle" alt=""></div>
                </div>
                <div>
                <div class="header">
                    <div class="icon_starGroup">
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-1.svg" alt=""></i>
                    <i><img src="images/newHouse/star-0.svg" alt=""></i>
                    <i><img src="images/newHouse/star-0.svg" alt=""></i>
                    <div class="cl-b"></div>
                    </div>
                    <div class="text-date">2019-08-01</div>
                </div>

                <div class="menber">貴賓17***49</div>
                <p>主要優點
                    參考單價：NT$49～51萬元/坪
                    地址：台中市南屯區向上路三段
                    物件位於國道3號 74號快速道路旁，交通便利。
                </p>
                </div>
            </div>
            <div class="footer">
                32個人覺得此評論有幫助
            </div>
            </div>
            <!--/2-->

        </div>
     
        <div class="justify-content-center">
            <button type="button" class="text-center btn btn-outline-secondary">登入MyGo填寫評論</button>
        </div>
         
</div>