<!-- section 詳情 -->
<div class="section-contant">
  <div class="header">
    <h4>詳情</h4>
    <a href=""><i class="fas fa-angle-right"></i></a>
  </div>
  <div class="text-date">2019-08-01</div>
  <div class="houseDetail_ItemBox">
    <div class="title">建築規劃</div>

    <ul class="ul_cols-2 detail_Item">
      <ol><label for="">公 設 比</label><span>33.9%</span></ol>
      <ol><label for="">棟戶規劃</label><span>1棟，26戶</span></ol>
      <ol><label for="">建 蔽 率</label><span>45%</span></ol>
      <ol><label for="">樓層規劃</label><span>地上8層，地下2層</span></ol>
      <ol><label for="">車位規劃</label><span>平面式 12個 </span></ol>
      <ol><label for="">管理費用</label><span>155元/坪/月</span></ol>
      <ol><label for="">車位配比</label><span>1:0.46 </span></ol>
      <ol><label for="">結構工程</label><span>RC</span></ol>
      <ol><label for="">基地面積</label><span>162坪 </span></ol>
      <ol><label for="">用途規劃</label><span>住家用</span></ol>
      <ol><label for="">交屋屋況 </label><span>標準配備</span></ol>
      <ol><label for="">土地分區</label><span>住三</span></ol>
      <ol><label for="">座向規劃</label><span>朝西北</span></ol>
    </ul>
    <div class="cl-b"></div>
    <ul class="ul_cols-1 detail_Item">
      <ol><label for="">建材說明</label><span>YKK氣密窗、防爆鋼門、RICH GERMANY廚具、GINOVA衛浴、頂級設備</span></ol>
      <ol><label for="">公共設施</label><span>接待大廳</span><span>中庭花園</span></ol>
    </ul>
    <div class="cl-b"></div>

  </div>
  <hr>
  <div class="houseDetail_ItemBox">
    <div class="title">建商資料</div>
    <ul class="ul_cols-2 detail_Item">
      <ol><label for="">投資建設</label><span>呈暘建設開發有限公司</span></ol>
      <ol><label for="">營造公司</label><span>利嘉營造服份有限公司</span></ol>
      <ol><label for="">建造執照</label><span>101建字第0275號等1個</span></ol>
      <ol><label for="">建築設計</label><span>林峰池建築師事務所</span></ol>
      <ol><label for="">使用執照</label><span>104使0136號</span></ol>
      <ol><label for="">企劃銷售</label><span>呈暘建設開發有限公司</span></ol>
    </ul>

    <div class="cl-b"></div>
  </div>
</div>
<!-- /section 詳情 -->