<div id="mediaList" class=" section-contant">
  <div class="header">
    <h4>問答 <a href="#" class="badge badge-success">20</a></h4>
    <a href=""><i class="fas fa-angle-right"></i></a>
  </div>
  <ul class="list-unstyled">
    <li class="media">
      <img src="images/newHouse/agPic.png" class="rounded-circle" alt="...">
      <div class="media-body">
        <div class="inner">
          <h5 class="mt-0 mb-1">William_ab98y00</h5>
          參考單價：NT$49～51萬元/坪地址：台中市南屯區向上路三段物件位於國道3號 74號快速道路旁，交通便利。
        </div>
          <ul>
            <li>1 天前 </li>
            <li>1 則回覆</li>
            <li ><a href="">回覆</a></li >
          </ul>
        <div class="media mt-3">
          <a class="rounded-circle" href="#">
            <img src="images/newHouse/agPic.png" class="rounded-circle" alt="...">
          </a>
          <div class="media-body">
            <div class="inner">
              <h5 class="mt-0">William_ab98y00</h5>
            參考單價：NT$49～51萬元/坪地址：台中市南屯區向上路三段物件位於國道3號 74號快速道路旁，交通便利。
            </div>
            <ul>
              <li>1 天前 </li>
              <li>1 則回覆</li>
              <li ><a href="">回覆</a></li >
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="media mt-4">
      <img src="images/newHouse/agPic.png" class="rounded-circle" alt="...">
      <div class="media-body">
        <div class="inner">
          <h5 class="mt-0 mb-1">William_ab98y00</h5>
          參考單價：NT$49～51萬元/坪地址：台中市南屯區向上路三段物件位於國道3號 74號快速道路旁，交通便利。
        </div>
        <ul>
          <li>1 天前 </li>
          <li>1 則回覆</li>
          <li ><a href="">回覆</a></li >
        </ul>
      </div>
    </li>
    <li class="media mt-4">
      <img src="images/newHouse/agPic.png" class="rounded-circle" alt="...">
      <div class="media-body">
        <div class="inner">
          <h5 class="mt-0 mb-1">William_ab98y00</h5>
          參考單價：NT$49～51萬元/坪地址：台中市南屯區向上路三段物件位於國道3號 74號快速道路旁，交通便利。\
        </div>
        <ul>
          <li>1 天前 </li>
          <li>1 則回覆</li>
          <li ><a href="">回覆</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="footer">
    <img src="images/newHouse/agPic.png" class="rounded-circle" alt="...">
    <input class="form-control" type="text" placeholder="提問" />
    <button type="button" class="text-center btn btn-outline-secondary">送出</button>
  </div>
</div>