<!-- 房貸試算 -->
<div class="mortgageCal section-contant">
  <div class="header">
    <h4>房貸試算</h4>
    <a href=""><i class="fas fa-angle-right"></i></a>
  </div>
  <form>
    <div class="inner ">
        <div >
          <div class="form-group">
            <label for="">頭期款</label>
            <div >
              <input type="text" class="form-control" id="" placeholder="萬元為單位">
            </div>
            
          </div>
          <div class="form-group">
            <label for="">貸款金額</label>
            <div >
              <input type="text" class="form-control" id="" placeholder="萬元為單位">
            </div>
            
          </div>
          <div class="form-group">
            <label for="">銀行貸款利率</label>
            <div >
              <input type="text" class="form-control" id="" placeholder="％為單位">
            </div>
          </div>
          <div class="form-group">
            <label for="">銀行貸款利率</label>
            <div >
              <input type="text" class="form-control" id="" placeholder="年為單位">
            </div>
          </div>
        </div>

        <div>
          <h5>簡易房貸試算公式</h5>
          <button type="button" class="btn btn-light"> ＝ </button>
        </div>

      <div>
        <h5>試算結果</h5>
        <div>
          <div class="form-group">
            <label for="" class="col-form-label">每月償還本息</label>
            <div>
              0
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-form-label">頭期款</label>
            <div>
              0
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- /房貸試算 -->